.root {
    display: flex;
    opacity: 1;
    transition-delay: 64ms;
    transition-duration: 384ms;
    transition-property: opacity;
    transition-timing-function: var(--venia-global-anim-standard);
    font-size: var(--fontSize-100);
    border-top: 1px solid rgb(var(--color-gray-light01));
    padding-top: 10px;
    margin-top: 10px;
}

.root:first-child {
    border-top: 10px;
    margin-top: 0;
    padding-top: 0;
}

.root_disabled {
    composes: root;
    opacity: 0.5;
}
.itemThumbnailWrapper {
    margin-right: 15px;
    max-width: 85px;
}
.thumbnailContainer {
    grid-column: 1 / span 1;
    grid-row: 1 / span 6;
}

.thumbnail {
    border: solid 1px rgb(var(--venia-global-color-border));
}
.itemDetails {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    
}
.name {
    font-weight: var(--font-weight-bold);
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    margin-bottom: 0.5rem;
    padding-right: 20px;
}

.options {
    font-size: var(--fontSize-75);
    color: rgb(var(--color-gray-middle1));
}

.itemQtyPriceWrapper {
    display: flex;
    flex-direction: column;
}


.quantity {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    margin-bottom: 5px;
}

.price {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
}

.stockStatus {
    color: rgb(var(--venia-global-color-error));
    font-weight: var(--venia-global-fontWeight-semibold);
    grid-column: 2;
    grid-row: 6;
}

.deleteButton {
position: absolute;
right: 0;
top:0;
}


.portalRoot {
    position: fixed;
    margin: auto;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    margin-top: 4rem;
}

.contentWrapper {
    background-color: rgb(var(--page-background-color));
    border-radius: 1px;
    box-shadow: 0 1px 6px rgb(var(--color-gray40) / 0.2);
    transform: translate3d(0, -8px, 0);
    transition-duration: 192ms;
    transition-property: transform;
    transition-timing-function: var(--venia-global-anim-out);
    width: var(--content-width);
    left: 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    padding: 2rem;
}

.content {
    text-align: center;
}

.actions {
    margin-top: 1.5rem;
}

.actions button {
    min-width: 6rem;
    margin: 0 0.5rem;
}