.categoryList {

}

.categoryItems {
    
}

.categoryItem {
    
}

.staticHeader {

}
.staticHeaderName {
    
}

.active {

}

.facet_active {

}

.list123 {
    
}

.labelItemSize {
    width: 30px !important;
    height: 30px !important;
    border: 2px solid #ccc;
    border-radius: 50%;
}

.parentActive i {
    position: relative;
}

.parentActive .activeState i:after {
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    outline: auto;
}