.categoryList {

}

.categoryItems {
    
}

.categoryItem {
    
}

.level01 {
    background-color: red;
    margin-left: 10px;
}

.level02 {
    background-color: green;
    margin-left: 20px;
}


.level03 {
    background-color: blue;
    margin-left: 30px;
}


.level04 {
    background-color: orange;
    margin-left: 40px;
}


.staticHeader {

}
.staticHeaderName {
    
}

.active {

}

.facet_active {

}

.list123 {
    
}

/* .labelItemSize {
    width: 30px !important;
    height: 30px !important;
    border: 2px solid #ccc;
    border-radius: 50%;
} */

.activeState i {
    position: relative;
}

.activeState i:after {
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    outline: auto;
}