:root {
    --search-sidebar-width: 25%;
}

.root {
    padding: 1rem; 
}

.noResult {
    display: flex;
}

.iconWrapper {
    display: inline-flex;
}
.svgIcon {
    fill: currentColor;
    width: 20px;
    height: auto;
}

.noResultWrapper {
    display: flex;
    flex-direction: column;
    
}

.didYouMean {
    display: flex;
    margin-bottom: 1rem;
}

.didYouMean a {
    color: rgb(var(--theme-color-primary));
    font-style: italic;
    font-weight: bold;
    margin-left: 10px;
}

.popularSearchWrapper {
    
}

.searchReference {
    margin-bottom: 1rem;
}

.searchItems {
    list-style-type: decimal;
    list-style-position: inside;
}

.searchListItem {
    margin-bottom: 10px;

}

.searchListItem a {
    color: rgb(var(--theme-color-primary));
}

.searchListItem a:hover {
    color: rgb(var(--text-color));
}

.headerButtons {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(var(--color-gray-light10));
    padding: 5px 10px;
    margin-bottom: 20px;
}

.searchHeaderWrapper {
    
}

.searchHeader {
    
}

.title {
    
}

.searchTitle {
    font-size: var(--fontSize-600);
    color: rgb(var(--theme-color-primary));
    font-weight: var(--font-weight-bold);
    margin: 0 0 10px 0; 
    padding: 0;
}


.searchInfo {
    margin: 1rem 0;
    font-size: 0.875rem;
    max-width: 75vw;  
}

.totalPages {
    margin-left: 0.5rem;
}

.headingHighlight {
    
}

.contentWrapper {
    width: 100%;
}

.sidebar {
    display: none;
}


.searchBannerWrapper img{
    max-width: 100%;
    position: static;
}

.noResultText {
    display: flex;
    align-items: center;
    background: #fdf0d5;
    color: #6f4400;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.35;
    padding: 8px 16px;
    margin-bottom: 1rem;
    font-family: sans-serif;
}

.noResultText span {
    padding-left: 8px;
}


@media (min-width: 768px) {

    .contentWrapper {
        display: flex;
        gap: 4rem;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 20px 0;
    }



    .headerButtons {
        justify-content: flex-end;
        padding-bottom: 0;
    }

    .heading {
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
    }



    .searchInfo {
        margin: 0;
        flex-basis: 100%;
    }

    .headerButtons {
        justify-content: flex-end;
    }

    .sidebar {
        flex: 0 0 250px;
        width: var(--search-sidebar-width);
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        order: 1;
    }

    .searchContent {
        flex-grow: 1;
        padding-bottom: 40px;
        -webkit-flex-basis: auto;
        flex-basis: auto;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        width: 75%;
    }


}
