.block {

}

.blockTitle {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    
}

.blockcontent {

}

.fieldset {
    border: 0;
    margin: 0 0 40px;
    padding: 0;
    max-width: 450px;
}

.fieldset > .field {
    margin: 0 0 30px;
}

.fieldset > .field:last-child {
    margin: 0;
}

.control {

}

.actionToolbar {

}

.primary {

}
.addemail {
    
}