.root {
    --stroke: var(--venia-global-color-gray-600);
    align-items: center;
    display: grid;
    gap: calc(0.875rem - 5px);
    grid-auto-flow: column;
    grid-template-areas: 'input label';
    grid-template-columns: min-content 1fr;
    justify-items: center;
    line-height: 1rem;
}

.input {
    -webkit-appearance: none;
    background: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    grid-area: input;
    height: 1rem;
    width: 1rem;
    margin: 0;
}

.icon {
    grid-area: input;
    height: 1rem;
    pointer-events: none;
    width: 1rem;
}

.icon svg {
    stroke: rgb(var(--theme-color-primary));
    width: 1rem;
    height: 1rem;
}

.label {
    cursor: pointer;
    font-size: var(--fontSize-100);
    grid-area: label;
    justify-self: start;
}
.label:hover {
    color: rgb(var(--link-color-hover));
}

.input:disabled {
    cursor: default;
}

/* When the input is disabled, update the cursor on the sibling label element. */
.input:disabled ~ .label {
    cursor: default;
}

.input:checked:enabled + .icon {
    --stroke: var(--theme-color-primary);
}

.input:active:enabled,
.input:focus:enabled {
    outline: none;
    box-shadow: none; 
}
