.root {
    --stroke: var(--venia-global-color-gray-600);
    align-items: center;
    display: grid;
    gap: calc(0.875rem - 5px);
    grid-auto-flow: column;
    grid-template-areas: 'input label';
    grid-template-columns: min-content 1fr;
    justify-items: center;
    line-height: 1rem;
}

.input {
    -webkit-appearance: none;
    background: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    grid-area: input;
    height: 1rem;
    width: 1rem;
    margin: 0;
}

.icon {
    grid-area: input;
    height: 1rem;
    pointer-events: none;
    width: 1rem;
}

.icon svg {
    stroke: rgb(var(--theme-color-primary));
    width: 1rem;
    height: 1rem;
}

.label {
    cursor: pointer;
    font-size: var(--fontSize-100);
    grid-area: label;
    justify-self: start;
}
.label:hover {
    color: rgb(var(--link-color-hover));
}

.input:disabled {
    cursor: default;
}

.input:disabled ~ .label {
    cursor: default;
}

.input:checked:enabled + .icon {
    --stroke: var(--theme-color-primary);
}

.input:active:enabled,
.input:focus:enabled {
    outline: none;
    box-shadow: none; 
}


:root {
    --checkbox-width: 1.3em;
    --checkbox-height: 1.3em;
    --acemart-blue: #006;
    --checkbox-mark: 0.9375em;
    --star-size: 1.5em;
    --star-color: #fff;
    --star-background: #ffa41c;
}
.stars {
    --percent: calc(var(--rating) / 100 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    line-height: 1;
}
.stars:before {
    content: 'â˜…â˜…â˜…â˜…â˜…';
    background: linear-gradient(
        90deg,
        var(--star-background) var(--percent),
        var(--star-color) var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #f9c400;
}
#search-spring h1 {
    margin-bottom: 1.25em;
}
#search-spring h2 {
    margin-bottom: 1.25em;
}
.swatch-assorted {
    background: linear-gradient(
        to right,
        #dc0000 0%,
        #dc0000 25%,
        #3d881f 25%,
        #3d881f 50%,
        #fbcc28 50%,
        #fbcc28 75%,
        #004cdd 75%,
        #004cdd 100%
    );
}
.swatch-beige {
    background-image: linear-gradient(
        to bottom right,
        #faf6e6,
        #f5eccd,
        #f5eccd
    );
}
.swatch-black {
    background-color: #111;
}
.swatch-blue {
    background-image: linear-gradient(
        to bottom right,
        #86a3d0,
        #0d47a1,
        #0d47a1
    );
}
.swatch-brass {
    background-image: linear-gradient(
        to bottom right,
        #c99072,
        #e2af93,
        #c99072
    );
}
.swatch-bronze {
    background-image: linear-gradient(
        to bottom right,
        #cd8032,
        #ea9c50,
        #cd8032
    );
}
.swatch-brown {
    background-image: linear-gradient(
        to bottom right,
        #ac9c91,
        #593922,
        #593922
    );
}
.swatch-clear {
    background-image: linear-gradient(to bottom right, #f0f0f0, #fff, #f0f0f0);
}
.swatch-copper {
    background-image: linear-gradient(
        to bottom right,
        #9c5c05,
        #c57209,
        #b25539,
        #bb8a6c
    );
}
.swatch-gold {
    background-image: linear-gradient(
        to bottom right,
        #fedb37,
        #fdb931,
        #9f7928,
        #8a6e2f,
        #d1b464
    );
}
.swatch-gray {
    background-image: linear-gradient(
        to bottom right,
        #b9b7b7,
        #736f6e,
        #736f6e
    );
}
.swatch-grey {
    background-image: linear-gradient(
        to bottom right,
        #b9b7b7,
        #736f6e,
        #736f6e
    );
}
.swatch-green {
    background-image: linear-gradient(
        to bottom right,
        #9ec48f,
        #3d881f,
        #3d881f
    );
}
.swatch-metallic {
    background-image: linear-gradient(
        to bottom right,
        #767674,
        #ead9cc,
        #64563c
    );
}
.swatch-multicolor {
    background-image: linear-gradient(to right, red, blue, #ff0, green);
}
.swatch-off-white {
    background-image: linear-gradient(
        to bottom right,
        #faf7f3,
        #f5efe6,
        #f5efe6
    );
}
.swatch-orange {
    background-image: linear-gradient(
        to bottom right,
        #fcb98c,
        #f87318,
        #f87318
    );
}
.swatch-pink {
    background-image: linear-gradient(
        to bottom right,
        #fbb0d5,
        #f660aa,
        #f660aa
    );
}
.swatch-purple {
    background-image: linear-gradient(
        to bottom right,
        #ba99c4,
        #743289,
        #743289
    );
}
.swatch-red {
    background-image: linear-gradient(to bottom right, #d58080, #a00, #a00);
}
.swatch-silver {
    background-image: linear-gradient(
        to bottom right,
        #aaa,
        #eee,
        #ccc,
        #aaa,
        #eee
    );
}
.swatch-tan {
    background-image: linear-gradient(
        to bottom right,
        #eddfcb,
        #dbbe96,
        #dbbe96
    );
}
.swatch-translucent {
    background-image: linear-gradient(
        to bottom right,
        #f0f0f0,
        #f8f8f8,
        #f0f0f0
    );
}
.swatch-varied {
    background-image: linear-gradient(red, blue, #ff0, green, orange);
}
.swatch-wood {
    background-image: linear-gradient(
        to bottom right,
        #e7933d,
        #e7933d,
        #e7933d,
        #e7933d,
        #593922,
        #e7933d,
        #e7933d,
        #e7933d,
        #e7933d,
        #593922,
        #e7933d,
        #e7933d,
        #e7933d,
        #e7933d,
        #593922,
        #e7933d,
        #e7933d,
        #e7933d,
        #e7933d,
        #593922,
        #e7933d,
        #e7933d,
        #e7933d,
        #e7933d,
        #593922
    );
}
.swatch-wood-grain {
    background-image: linear-gradient(
        to bottom right,
        #e7933d,
        #e7933d,
        #e7933d,
        #e7933d,
        #593922,
        #e7933d,
        #e7933d,
        #e7933d,
        #e7933d,
        #593922,
        #e7933d,
        #e7933d,
        #e7933d,
        #e7933d,
        #593922,
        #e7933d,
        #e7933d,
        #e7933d,
        #e7933d,
        #593922,
        #e7933d,
        #e7933d,
        #e7933d,
        #e7933d,
        #593922
    );
}
.swatch-white {
    background-color: #fff;
}
.swatch-yellow {
    background-image: linear-gradient(to bottom right, #ffff80, #ff0, #ff0);
}
.swatch-natural {
    background-image: linear-gradient(
        to bottom right,
        #e2b58b 0%,
        #e2b58b 20%,
        #edc197 80%,
        #e2a667 100%
    );
}
#stickers label[class^='sticker'] {
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.sticker-bulk_savings {
    background-image: url('/pub/media/label/cache/100x100/bulk_savings.svg');
}
.sticker-free_shipping {
    background-image: url('/pub/media/label/cache/100x100/free_shipping.svg');
}
.sticker-new_item {
    background-image: url('/pub/media/label/cache/100x100/new_item.svg');
}
.sticker-on_sale {
    background-image: url('/pub/media/label/cache/100x100/on_sale.svg');
}
.sticker-online_price {
    background-image: url('/pub/media/label/cache/100x100/online_price.svg');
}
.sticker-store_pickup {
    background-image: url('/pub/media/label/cache/100x100/store_pickup.svg');
}
.sticker-black_friday {
    background-image: url('/pub/media/label/cache/100x100/black_friday.svg');
}
.ss-header h4 {
    font-weight: 400;
    margin-bottom: 12px;
}
.ss-header h4 span {
    color: #006;
    font-style: italic;
    font-weight: 700;
    cursor: pointer;
}
.ss-header ul {
    list-style: none;
    counter-reset: li;
    margin-top: 12px;
    margin-left: 15px;
    color: #006;
}
.ss-header li {
    counter-increment: li;
    margin-bottom: 12px;
    cursor: pointer;
}
.ss-header li:before {
    content: counter(li) '.';
    color: #333;
    display: inline-block;
    width: 1.25em;
    margin-left: -1em;
}
.columns a.open-lightbox {
    color: #fff;
}
.ace-search-filters {
    padding: 0 0 0.75em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em;
}
#search-spring h1 span {
    font-family: inherit;
}
#search-spring .ace-finance {
    font-weight: 400;
    display: block;
    color: #488111;
    padding-top: 3px;
    font-size: small;
    font-weight: 700;
}
#search-spring .ace-search-product-reviews {
    display: flex;
    align-items: center;
    font-size: small;
    flex-wrap: wrap;
}
#search-spring .ace-search-product-reviews > * {
    margin-right: 1.5em;
}
#search-spring .ace-search-product-reviews a {
    padding-top: 2px;
}
#search-spring .ace-search-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 6px 6px 12px;
    background-color: #eee;
    margin-bottom: 24px;
}
#search-spring .ace-search-toolbar .to-right,
#search-spring .ace-search-toolbar .to-left {
    display: flex;
    gap: 24px;
}
.ace-search-filters-column #filters-toggle {
    display: none;
}
.ace-search-filters-column input[type='checkbox'] ~ .shop-by {
    display: none;
}
.ace-search-filters-column input[type='checkbox'] ~ .shop-by:before {
    content: 'Hide Filters';
}
.ace-search-filters-column input[type='checkbox']:checked ~ .shop-by:before {
    content: 'Show Filters';
}
#search-spring .ace-search-sort,
#search-spring .ace-search-limit {
    display: flex;
    align-items: center;
}
#search-spring .ace-search-sort select,
#search-spring .ace-search-limit select {
    flex: 1;
    background-color: #fff;
    margin-left: 6px;
}
#search-spring .ace-search-products-list {
    flex: 1;
}
#search-spring .ace-search-products-column {
    flex: 1;
}
#search-spring .ss-pager {
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-spring .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 0;
}
#search-spring .ss-pager > * {
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-spring .ss-pager .page-prev,
#search-spring .ss-pager .page-next,
#search-spring .ss-pager li {
    padding: 12px 18px;
    margin: 0;
    width: 54px;
    text-align: center;
}
#search-spring .ss-pager .current-search-page-index {
    background-color: #006;
    color: #fff;
    outline: 1px solid #006;
}
#search-spring .ss-pager .search-page-index {
    background-color: #fff;
    color: #006;
    outline: 1px solid #ddd;
}
#search-spring .ss-pager .page-prev,
#search-spring .ss-pager .page-next,
#search-spring .ss-pager .search-page-index {
    cursor: pointer;
}
#search-spring .ace-search-filters-column {
    flex: 0 0 250px;
}
#search-spring .ace-search-filters-column ul#availability li:before {
    position: absolute;
    bottom: -22px;
    left: 11px;
    width: 22px;
    height: 1px;
    margin: auto;
    content: '';
    background-color: #333;
}
#search-spring .ace-search-filters-column ul#availability li:after {
    position: absolute;
    top: 22px;
    bottom: 0;
    left: 11px;
    width: 1px;
    height: 100%;
    content: '';
    background-color: #333;
}
#search-spring .ace-search-filters-column ul#availability li:last-child:after,
#search-spring .ace-search-filters-column ul#availability li:last-child:before {
    height: 0;
}
#search-spring .ace-search-filters-column [type='checkbox'] {
    position: absolute;
    display: none;
}
#search-spring .ace-search-product-picture {
    order: 1;
    flex: 0 1 250px;
    display: flex;
}
#search-spring .ace-search-product-data {
    flex: 1;
    order: 3;
}
#search-spring .ace-search-product-details {
    order: 2;
    display: flex;
    flex-direction: column;
    flex: 0 1 250px;
    gap: 1em;
}
#search-spring .ace-search-product-details .on-sale {
    color: #c00;
}
#search-spring .ace-search-product-details > * {
    margin-top: 0;
}
#search-spring .ace-search-filters-column ul {
    margin: 0 0 1em;
    max-height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #c5c5c5 #f6f6f6;
}
#stickers {
    padding-left: 2px;
}
#search-spring .ace-search-filters-column ul::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
#search-spring .ace-search-filters-column ul::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.5);
}
#search-spring .ace-search-filters-column ul::-webkit-scrollbar-track {
    background: #f6f6f6;
}
#search-spring .ace-search-filters-column ul::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 20px;
    border: 3px solid #f6f6f6;
}
#search-spring .ace-search-filters-column li {
    margin: 12px 0;
    position: relative;
    --margin-left: calc(var(--level));
    margin-left: var(--margin-left);
}
#search-spring .ace-search-filters-column li.p0 {
    margin-left: 0;
}
#search-spring .ace-search-filters-column li.p1 {
    margin-left: 25px;
}
#search-spring .ace-search-filters-column li.p2 {
    margin-left: 50px;
}
#search-spring .ace-search-filters-column span.qty {
    right: 0;
    top: -2px;
    background-color: #e9e9e9;
    padding: 3px 9px 1px;
    border-radius: 50px;
    position: absolute;
}
#search-spring .ace-search-filters-column label span {
    position: absolute;
    top: 0;
    width: 100%;
    left: 18px;
    padding-left: 12px;
}
#search-spring #stickers .ace-search-filter-option {
    margin: 6px 0;
}
#search-spring #stickers .ace-search-filter-option label span {
    top: 6px;
    left: 24px;
    text-transform: capitalize;
}
#search-spring #stickers .ace-search-filter-option .qty {
    top: 4px;
}
#search-spring
    .ace-search-filters-column
    .ace-search-filter-options
    [type='checkbox']
    + label {
    padding-left: 2em;
    font-size: 1.05em;
    cursor: pointer;
    display: block;
    padding-right: 3.5em;
}
#search-spring
    .ace-search-filters-column
    .ace-search-filter-options#stickers
    [type='checkbox']
    + label,
#search-spring
    .ace-search-filters-column
    .ace-search-filter-options#round
    [type='checkbox']
    + label {
    padding-left: 0;
    padding-right: 0;
}
#search-spring
    .ace-search-filters-column
    .ace-search-filter-options
    [type='checkbox']
    + label:before {
    content: '';
    position: absolute;
    left: 3px;
    top: 0;
    width: var(--checkbox-width);
    height: var(--checkbox-height);
    outline: 3px solid #ccc;
    background: #fff;
    -webkit-transition: all 0.275s;
    transition: all 0.275s;
}
#search-spring
    .ace-search-filters-column
    .ace-search-filter-options#round
    [type='checkbox']
    + label:before {
    background: 0 0;
}
#search-spring
    .ace-search-filters-column
    .ace-search-filter-options#stickers
    [type='checkbox']
    + label:before,
#search-spring
    .ace-search-filters-column
    .ace-search-filter-options#round
    [type='checkbox']
    + label:before {
    display: none;
}
#search-spring
    .ace-search-filters-column
    .ace-search-filter-options
    [type='checkbox']
    + label:after {
    content: 'âœ–';
    position: absolute;
    font-weight: 700;
    top: 0;
    left: 3px;
    color: #006;
    line-height: 130%;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: var(--checkbox-width);
    height: var(--checkbox-height);
    outline: 3px solid #333;
}
#search-spring
    .ace-search-filters-column
    .ace-search-filter-options#stickers
    [type='checkbox']
    + label:after {
    display: none;
}
#search-spring
    .ace-search-filters-column
    .ace-search-filter-options#round
    [type='checkbox']
    + label:after {
    display: none;
}
#search-spring
    .ace-search-filters-column
    .ace-search-filter-options
    [type='checkbox']:not(:checked)
    + label:after {
    opacity: 0;
    -webkit-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
}
#search-spring
    .ace-search-filters-column
    .ace-search-filter-options
    [type='checkbox']:checked
    + label:after {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
}
#search-spring
    .ace-search-filters-column
    .ace-search-filter-options
    [type='checkbox']:disabled
    + label:before {
    box-shadow: none;
    background-color: #e9e9e9;
}
#search-spring
    .ace-search-filters-column
    .ace-search-filter-options
    [type='checkbox']:disabled:checked
    + label:after {
    color: #777;
    background-color: #ddd;
}
#search-spring
    .ace-search-filters-column
    .ace-search-filter-options
    [type='checkbox']:disabled
    + label {
    color: #aaa;
}
.ace-search-filters-column #round [type='checkbox'] + label {
    outline: 3px solid #ccc;
    cursor: pointer;
    display: block;
    margin-left: 3px;
    width: var(--checkbox-width);
    height: var(--checkbox-height);
}
.ace-search-filters-column #round [type='checkbox']:checked + label {
    border: 2px solid #fff;
    outline: 3px solid #333;
}
.ace-search-filters-column #stickers [type='checkbox'] + label {
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
}
.ace-search-filters-column #stickers [type='checkbox']:checked + label {
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #333;
}
#search-spring .ss-columns h3 {
    font-size: 1.25em;
}
#search-spring #filters-float {
    color: #999;
    font-size: 200%;
    background-color: #fff;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    text-align: right;
    z-index: 10;
    padding: 0 14px 0 0;
    line-height: 170%;
    display: block;
}
#search-spring .rojo {
    color: red;
}
#search-spring .toolbar {
    background: #dedede;
    padding: 0.5em;
    outline: 1px solid purple;
}
#search-spring .ace-search-product-picture img {
    min-width: 100%;
    display: flex;
    margin: 0 auto;
}
#search-spring .product-item-stickers {
    display: flex;
    gap: 6px;
    flex-direction: row;
    margin-left: auto;
}
#search-spring .product-item-stickers li {
    margin-bottom: 0;
    display: flex;
}
#search-spring .product-item-stickers li img {
    max-width: 36px;
}
#search-spring .ace-search-product {
    gap: 3em;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    border-bottom: 1px solid #bbb;
}
.title-mobile {
    padding-top: 24px;
}
#search-spring .ace-search-product-data h1 {
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.25;
}
#search-spring .ace-search-product-data h3 {
    font-size: 1em;
    color: #666;
    font-weight: 400;
    line-height: 250%;
    margin: 0;
    letter-spacing: 1px;
}
#search-spring .price {
    font-weight: 700;
    padding: 0;
    line-height: 1;
    text-align: right;
}
#search-spring .price sup {
    vertical-align: super;
    position: initial;
}
#search-spring .price sup,
#search-spring .price small {
    font-size: 0.5em;
    font-weight: 700;
}
#search-spring .price small {
    color: #777;
    font-weight: 400;
}
#search-spring .secondary {
    background-color: #fff;
    color: #333;
    padding: 9px 6px;
    line-height: 1.4;
    border: 1px solid #bbb;
}
#search-spring .fa-heart {
    color: #e60000;
}
#search-spring .button {
    text-align: center;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    flex: 1;
}
#search-spring .primary a {
    background: #006e8e;
    color: #fff;
    text-align: center;
    padding: 12px 24px;
    font-weight: 700;
    width: 100%;
    display: block;
}
#search-spring .primary a:hover {
    color: #006e8e;
    background-color: #fff;
}
#search-spring .primary:hover {
    background: #fff;
    color: #006e8e;
}
#search-spring .product-item-actions {
    display: flex;
    margin: 1.5em 0 0 !important;
    justify-content: space-between;
    gap: 1em;
}
#search-spring .label-content i {
    font-size: 2.75em;
}
#search-spring .label-content .yellow {
    color: #eebb06;
}
#search-spring .label-content .orange {
    color: #f59020;
}
#search-spring .label-content .blue {
    color: #0a6dc9;
}
#search-spring .product-item-description li {
    margin: 0.25em 0 0.75em;
    grid-template-columns: 200px auto;
    flex: 1;
    display: flex;
}
#search-spring .product-item-description span.column {
    min-width: 20ch;
    display: block;
    font-weight: 700;
    color: #666;
    width: 20ch;
    margin-right: 12px;
}
#search-spring .product-item-actions i {
    display: block;
    padding-right: 6px;
}
@media (max-width: 400px) {
    #search-spring .price {
        text-align: center;
    }
    #search-spring .ace-search-toolbar {
        flex-direction: column;
    }
    #search-spring .ace-search-product {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #search-spring .ace-search-product .ace-search-product-picture,
    #search-spring .ace-search-product .ace-search-product-data,
    #search-spring .ace-search-product .ace-search-product-details {
        flex: 1 1 300px;
    }
    #search-spring .ace-search-product > div:last-child {
        max-width: 100%;
    }
    #search-spring .secondary {
        flex: 1;
    }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
    #search-spring .price {
        text-align: center;
    }
    #search-spring .product-item-description {
        font-size: 90%;
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1100px) {
    #search-spring .ace-search-product {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #search-spring .ace-search-product .ace-search-product-picture,
    #search-spring .ace-search-product .ace-search-product-data,
    #search-spring .ace-search-product .ace-search-product-details {
        flex: 1 1 200px;
        gap: 12px;
        max-width: 250px;
        max-width: 50%;
    }
    #search-spring .ace-search-product .ace-search-product-data {
        min-width: 100%;
    }
    #search-spring .ace-search-product div {
        gap: 1em;
        flex: 1;
        flex: initial;
    }
    #search-spring .button {
        flex: inherit;
    }
    #search-spring .product-item-actions {
        justify-content: center;
    }
}
@media (min-width: 1101px) {
    #search-spring .product-item-description span {
        display: block;
    }
    #search-spring .ss-columns {
        display: flex;
        gap: 4em;
    }
    #search-spring .label-content {
        text-align: left;
    }
    #search-spring .ace-search-product {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }
    #search-spring .ace-search-product-picture {
        order: 1;
    }
    #search-spring .ace-search-product .ace-search-product-data {
        order: 2;
    }
    #search-spring .ace-search-product .ace-search-product-details {
        order: 3;
    }
}
@media (max-width: 1101px) {
    #search-spring .shop-by {
        display: block;
        background-color: #006;
        color: #fff;
        padding: 12px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
@media (max-width: 600px) {
    #search-spring .title-desktop,
    #search-spring .product-item-description {
        display: none;
    }
    #search-spring .product-item-stickers {
        margin-left: unset;
        justify-content: center;
    }
    #search-spring .product-item-actions {
        justify-content: center;
    }
    #search-spring .ace-search-product-data {
        text-align: center;
        order: 1;
    }
    #search-spring .ace-search-product-picture {
        order: 2;
    }
    #search-spring .ace-search-product-details {
        order: 3;
    }
    #search-spring .ace-search-product-reviews {
        justify-content: center;
    }
    #search-spring .ace-search-toolbar {
        flex-direction: column;
        align-items: inherit;
    }
    #search-spring .ace-search-toolbar .to-right {
        gap: 12px;
        flex-direction: row;
        justify-content: space-between;
    }
    #search-spring .ace-search-toolbar .to-left {
        gap: 12px;
        flex-direction: column;
        padding-bottom: 12px;
        text-align: center;
    }
    #search-spring .button.secondary {
        flex: initial;
    }
    #search-spring .button {
        flex: initial;
    }
    #search-spring .ace-search-product {
        gap: 0;
    }
    #search-spring .ace-search-product-picture img {
        padding: 15%;
    }
}
@media (min-width: 600px) {
    #search-spring .title-mobile {
        display: none;
    }
}
.ss-loader {
    margin: 0 auto;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
}
.ss-loader svg {
    transition: 0.5s;
    opacity: 1;
}
html .ss-loader .ss-hidden {
    opacity: 0;
}
.ss-loader svg > path {
    fill: #006;
}
.product-item-link,
.product-item-name .product-item-link {
    text-transform: none;
    font-weight: 400;
}
.ac-three .product-line .price {
    color: #006e8e;
}
.filters-column {
    margin-bottom: 36px;
}
.product-item-name .product-item-link,
.product-item-link,
.product.name a {
    font-weight: 400;
    text-transform: none;
}
.block-compare .product-items-names .product-item {
    padding-bottom: 0;
}
@media only screen and (max-width: 1100px) {
    .ace-search-filters-column
        input[type='checkbox']
        ~ .shop-by
        ~ .filters-column {
        display: block;
        transition: visibility 0s, opacity 0.5s linear;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        background-color: #fff;
        padding: 48px 24px 24px;
        height: 100%;
        overflow: auto;
    }
    .ace-search-filters-column
        input[type='checkbox']:checked
        ~ .shop-by
        ~ .filters-column {
        display: none;
    }
}
i.ace-compare {
    font-style: normal;
    font: normal normal normal 14px/1 icomoon;
}
@media (max-width: 1300px) {
    #search-spring .product-item-description li {
        display: block;
        margin: 0.75em 0 0;
    }
}
@media (max-width: 1100px) {
    #search-spring .product-item-description li {
        display: flex;
    }
    #search-spring #filters-float {
        display: block;
    }
}
@media (min-width: 1101px) {
    #search-spring #filters-float {
        display: none;
    }
}
