.finananceTopColumn {
    padding: 5%;
    background-color: rgba(0,0,0,0.5);
}

.finance.toprow h1 { 
    font-weight: bold;
    font-size: 3.3em; 
    color: #fff;
    margin: 0 0 4rem 0;
    text-shadow: 0 0 10px #2f2f2f;
}

.finance.toprow h4 { 
    font-weight: bold;
    font-size: 1.65em; 
    color: #fff;
    padding: 1.5rem 0;
    text-shadow: 0 0 10px #000;
    margin: 0 0 4rem 0;
}

.finance.toprow .primary {
    padding: 1.3rem 0
}


.finance-advantages {
    
}

.panelBody{
    max-width: var(--venia-global-maxWidth);
    width: 100%;
    padding-left: var(--layout-indent-width);
    padding-right: var(--layout-indent-width);
}

.topMenuContainer {
    display: flex;
    justify-content: space-between; 
}



.topMenuContainer .action {
    color: rgb(var(--color-white)); 
    padding: 5px;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
}
.topMenuContainer .action:hover {
    background-color: rgb(var(--color-gray30));
}

.leftMenu {
    flex-grow: 1; 
    margin-right: 20px;
    text-align: left;
}

.leftMenu .iconWrapper{
    margin-right: 5px;
}
.leftMenu .iconWrapper div {
    display: flex;
}

.leftMenu img {
    width: 20px;
    height: auto;
}

.rightMenu { 
  
}
.rightLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.rightLinks li{
    
}
.iconWrapper {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-flex;
}
.svgIcon {
    fill: currentColor;
}
.checkmark {
    fill: #8bd1d1;
}
.store {
    fill: #9dd666;
}

.footerBox {
    text-align: left;
   margin-left: 50px;
}
.footerBox:first-child {
    margin-left: 0;
}
.groupTitle {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: var(--font-weight-regular);
    color: rgb(var(--color-white)); 
}
.link {
    letter-spacing: .05em;
    font-size: 16px;
    padding: 8px 0;
    line-height: 19px;
}

.footerBox .action {
    color: rgb(var(--color-white));
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.footerBox .action:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    transform: translate3d(-110%,0,0);
    transition: transform .3s ease-in;
}

.footerBox .action:hover:after {
    transform: translate3d(0,0,0);
}
