.root {
    position: relative;
    z-index: 1;

}

.root_masked {
    composes: root;
}
.page:not(.cms_page) {
    max-width: var(--venia-global-maxWidth);
    padding-left: var(--layout-indent-width);
    padding-right: var(--layout-indent-width);
    
}
.page {
    margin: 0 auto;
    min-height: 40rem;
    position: relative;
}

.page_masked {
    composes: page;
}

.cms_page{
    
}

.checkout_page {
}


@media (max-width: 1023px) {
    .page {
        display: none;
    }
}
