.root {
    margin: 20px 0;
}

.blockTitle {
    font-size: var(--fontSize-300) ;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(var(--border-color-base));
    position: relative;
    font-size: var(--fontSize-100); 
}
.blockTitle strong {
    border-bottom: 3px solid #333;
    display: inline-flex;
    padding-bottom: 10px;
    font-size: var(--fontSize-300); 
}

.blockContent {

}

.actionDelete {

}

.compareItem {
    display: flex;
    align-items: flex-start;
    font-size: var(--fontSize-100) ;
    margin-bottom: 5px;
    border-bottom: 1px dashed rgb(var(--border-color-light));
    padding-bottom: 5px; 
}

.productName {
    flex-grow: 1;
    font-size: var(--fontSize-90);
    color: rgb(var(--product-name-color));
    font-weight: bold;
}

.removeButton {

}

.iconWrapper {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.iconWrapper:hover {
    background-color: #f6f6f6;
}

.svgIcon {
    width: 18px;    
    height: auto;
}


.actionToolbar { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.action {
    background-color: rgb(var(--theme-color-primary));
    color: rgb(var(--color-white));
    font-size: var(--fontSize-100);
    font-weight: var(--font-weight-bold);
    border: 1px solid rgb(var(--theme-color-primary));
    line-height: 1.25rem;
    padding: 5px;
    text-transform: uppercase;
    transition-duration: 256ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--venia-global-anim-standard);

}
.action:hover {
    background-color: var(--color-white);
    color: rgb(var(--theme-color-primary));
    border-color: rgb(var(--theme-color-primary));
}