.meter_wrapper {
    position: relative;
    width: 100%;
    background-color: #f4f4f4;
    height: 20px;
    line-height: 20px;
    padding: 0 9px;
    margin: 5px 0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.meter {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;


}

.meter_text {
    position: relative;
    color: var(--venia-global-color-gray-900);
    font-weight: bold;
    font-size: 13px;
}

.weak > .meter {
    background-color: rgb(255 175 174);
    
}

.medium  > .meter{
    background-color: rgb(255 214 179);
    color: #ffffff;
}
.strong  > .meter{
    background-color: rgb(197 238 172);
    color: #ffffff;
}
.very-strong  > .meter {
    background-color: rgb(129 181 98);
    color: #ffffff; 
}
.very-strong  > .meter_text {
    color: #ffffff; 
}


