.meter_wrapper {
    position: relative;
    width: 100%;
    background-color: #f4f4f4;
    height: 20px;
    line-height: 20px;
    padding: 0 9px;
    font-size: 11px;
}

.meter {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

}

.meter_text {
    position: relative;
    color: white;
    font-weight: bold;
}

.weak {
    background-color: rgb(255 175 174);
}

.medium {
    background-color: rgb(255 214 179);
}
.strong {
    background-color: rgb(197 238 172);
}
.very-strong {
    background-color: rgb(129 181 98);
}