.root {
}

.errorText {
    color: rgb(var(--venia-global-color-error));
    line-height: var(--venia-global-lineHeight-300);
}

.lineItems {
    display: grid;
    grid-gap: 0.5rem; 
    
}

.summaryItem {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: .5rem 1rem;
}
.summaryItem:nth-child(odd) {
    background-color: rgb(var(--color-gray-light01));
}

.lineItemLabel {
    justify-self: start;
    font-size: var(--fontSize-200);
    font-weight: bold;
    color: rgb(var(--color-black));
}

.price {
    justify-self: end;
    font-size: var(--fontSize-400);
    color: rgb(var(--theme-color-primary-alt));
    font-weight: var(--font-weight-bold);
}


.totalLabel {
    composes: lineItemLabel;
    font-weight: var(--venia-global-fontWeight-semibold);
}

.totalPrice {
    composes: price;
    font-weight: var(--venia-global-fontWeight-semibold);
}

.priceUpdating {
    composes: price;
    opacity: 0;
}

.checkoutButton_container {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin: 1.5rem 0;
    width: 100%;
}

.checkoutButton_container button{
    width: 100%;
    min-height: 3.5rem;
    font-size: var(--fontSize-200);
}
