.root {
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 1rem;
    padding: 0.5rem;
}

.heading {
    line-height: 1.25em;
}

.layout_default {
    padding: 0;
}

.layout_1column {
    composes: layout_default;
}

.cmswrapper {

}

.test {
    
}

ul>li,
ol>li {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 3.3em; 
    color: #fff
}

h2 {
    font-size: 2.5em; 
    text-transform: none;
}

h4 {
    font-size: 1.75em; 
}



