.root {
    align-items: center;
    display: inline-grid;
    gap: 0.5rem;
    grid-auto-flow: column;
    justify-content: center;
    padding: 8px 0;
    white-space: nowrap;
    font-size: var(--fontSize-100); 
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    
}

.root:hover {
    color: rgb(var(--theme-color-primary-alt));
}

.root svg {
    width: 14px;
}
.root button {
    padding: 0 3px;
    background-color: rgb(var(--color-gray30));
    color:  rgb(var(--color-white));
}

.root:hover button {
   background-color:  rgb(var(--theme-color-primary-alt));
   
}

.root:hover svg {
    stroke: white;
}

