.root {
    overflow: auto;
    padding: 10px;
    background-color: rgb(var(--color-gray-light02));
    
}

.root:empty {
    display: none;
}

.root li {
    padding: 0 0 0;
}

.root li:first-child {
    font-weight: bold;
    color: rgb(var(--color-black));
}

.root ul {
    margin-top: 10px;
}

.root ul:first-child {
    margin-top: 0;
}
