.relatedPostSection {

}

.relatedPostWrapper {
}

.sectionSubTitle {
  margin-bottom: 20px;
  font-size: var(--fontSize-650);
  font-weight: var(--font-weight-regular);
  text-transform: none;
}

.sectionContent {
    
}

.sectionContent {

}