.root {
    position: fixed;
    margin: auto;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.panelHeader {
    margin-bottom: 3rem;
}

.panelTopRow {
    background-color: #eee;
    padding: 1rem;
    margin-bottom: .875rem;
}

.panelTopRow h2 {
    margin-bottom: 8px;
    text-transform: none;
    font-size: var(--fontSize-400);
}

.panelTopRow h3 {
    margin-bottom: 8px;
    text-transform: none;
    font-size: var(--fontSize-200);
}

.panelBottomRow {

}

.storeData {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-size: var(--fontSize-100);
}

.storeDataItem{
    flex: 1 1 25ch;
}

.storeDataItem.storeDataHours > div{
    margin-top: 0;
}

.storeDeliveryOptions {
    padding-left: 15px;
    list-style: disc inside;
}

.buttonSmall {
    --stroke: var(--theme-color-primary);
    background: rgb(var(--stroke));
    border-color: rgb(var(--stroke));
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    color: rgb(var(--color-white));
    font-size: var(--fontSize-100);
    font-weight:normal;
    line-height: 1.25rem;
    max-width: 100%;
    min-height: 1.5rem;
    outline: none;
    padding: calc(0.25rem + 1px) 1rem calc(0.25rem - 1px);
    text-transform: normal;
    transition-duration: 256ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--venia-global-anim-standard);
    margin-right: 10px;

}

.buttonSmall:hover {
    background-color: rgb(var(--color-white)) ; 
    color:rgb(var(--stroke));
    border-color: rgb(var(--stroke)); 
}

.buttonSmall:focus {
    box-shadow: none;
}

.buttonSmall.headerStore {
    line-height: 1.5rem;
    padding: calc(0.25rem + 1px) 1rem calc(0.25rem + 1px) 1rem;
}

.addressStreet {

}

.addressCityZip {

}

.addressPhone {

}

.portalWrapper {
display: flex;
}

.contentWrapper {
    background-color: rgb(var(--page-background-color));
    border-radius: 1px;
    box-shadow: 0 1px 6px rgb(var(--color-gray40) / 0.2);
    display: grid;
    min-height: 10rem;
    transform: translate3d(0, 0, 0);
    transition-duration: 192ms;
    transition-property: transform;
    transition-timing-function: var(--venia-global-anim-out);
    width: var(--content-width);
    left: 0;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    padding: 20px 20px;
}

.content {
    padding: 0.5rem;
}

.modalClose {
    display: inline-flex;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 5px;
    right: 5px;
}

.modalClose button{
    width: 24px;
    border: none;
    padding: 0;
    min-width: auto;
    height: 24px;
    min-height: auto;
    line-height: normal;
    background-color: transparent;
}

.modalClose .svgIcon {
    width: 24px;
    height: 24px;
    fill: rgb(var(--color-gray-middle3));
}

.heading {
    font-size: var(--fontSize-400);
    font-weight: bold;
    line-height: normal;
    margin-bottom: 1rem;
}
.modalHeader {
    
}



.contentContainer {

}

.tabsContainer {
    display: flex;
    margin-bottom: 15px;
}

.tabsItem {
    background: #f6f6f6;
    position: relative;
}
.tabsItem.tabArea {

}

.tabsItem.tabStore {

}

.tabsItem.tabStock {

}

.tabsItem.tabStock {

}

.tabsItem:not(:first-child):before {
    content: '';
    position: absolute;
    top: 8px;
    bottom: 0;
    border-right: solid;
    border-top: solid;
    pointer-events: none;
    box-sizing: border-box;
    width: 28px;
    height: 30px;
    transform: rotate(30deg) skewy(30deg);
    z-index: 1;
    border-color: #fff;
    border-width: 4px;
    left: -16px;
    background-color: #f6f6f6;

}



.itemSwitch {
    line-height: 46px;
    font-size: 1rem;
    color: #6d6d6d;
    text-decoration: none;
    
    height: 46px;
    padding: 12px 24px 12px 36px;
    display: flex; 
    align-items: center;
}

.tabsItem.active   {
    background-color: #666;
}

.tabsItem.active+.tabsItem:before {
    background-color:  #666;
}

.tabsItem.active .itemSwitch  {
    font-weight: bold;
}


.tabsItem.active .itemSwitch  {
    color: #fff
}

.switchContent {
    display: flex;
}

.tabsItem.tabStock .tabLabel{
    order: 2;
}

.tabsItem.tabStock .tabLabel:after{
    content: '';
}

.tabsItem.tabStock .tabValue {
    margin-left: 0;
    margin-right: 5px;
}

.tabLabel {
  font-weight: normal;  
}

.tabLabel:after {
    content: ":"
}

.tabValue {
    margin-left: 5px;
    font-weight: bold;
}

.tabsContent {

}

.tabsItemContent {
    font-size: var(--fontSize-100); 
}

.tabContentArea {

}

.instructions {
    margin-bottom: 10px;
}

.areas {
    margin-top: 10px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.areaSwitcher {
    --stroke: var(--theme-color-primary);
    background-color: rgb(var(--stroke));
    color: rgb(var(--color-white));
    border-color: rgb(var(--stroke)); 
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    font-size: var(--fontSize-100);
    font-weight: normal;
    line-height: 1.25rem;
    max-width: 100%;
    min-width: 10rem;
    min-height: 2.5rem;
    outline: none;
    padding: calc(0.25rem + 1px) 1rem calc(0.25rem - 1px);
    text-transform: capitalize;
    transition-duration: 256ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--venia-global-anim-standard);
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

.areaSwitcher:hover, .areaSwitcher.active {
    background-color: var(--color-white);
    color: rgb(var(--stroke));
    border-color: rgb(var(--stroke));
}


.areaSwitcher:first-child {
    margin-left: 0;
}



/* Store List */

.tabContentStore {

}

.storeInfo {

}


.selectStoreWrapper {
    display: flex;
    border: 1px solid rgb(var(--border-color-base));
    padding: 6px;
    max-height: 490px;

}

.scrollable {
    overflow: auto;
    width: 100%;
    min-height: 0;
    flex-direction: column;
    max-height: calc(100vh - 108px);
}

.mapContainer {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.mapContent {

    background-image: var(--mapImage);
    background-repeat: no-repeat;
    background-position: top;
    flex: 0 0 60%;
    background-size: 100% auto;
    position: absolute;
    background-repeat: no-repeat;
    flex-direction: column;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    
}



/* .mapContainer img {
    position: static;
} */

.storeListContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;

}

.storeListItemWrapper {
    overflow-y: auto;
}

.listItem {
    display: flex;
    border-top: 1px solid rgb(var(--border-color-base));
    cursor: pointer;
}
.listItem:first-child {
    border-top: none;
}

.listItem:hover {
    background-color: rgb(var(--color-gray-light0));
}

.listItem.active {
    background-color: rgb(var(--color-gray-light02));;
}

.listLabel {
    margin: 10px;    
}
.listLabel span {
    background-color:rgb(var(--theme-color-primary));
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    color: rgb(var(--color-white));
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.listLabel.active span {
    background-color: #E60000;
}

.storeHours {
    margin-top: 8px;
    margin-bottom: 8px;
}

.storeAddressWrapper {
    margin: 15px 0;
    font-size: var(--fontSize-100);
}

.storeName {
    font-weight: bold;
    font-size: var(--fontSize-200);
    margin: 0 0 10px 0;
    cursor: pointer;
}
.storeName:hover {
    color: rgb(var(--link-color-hover));
}

.storeAddress {
    margin-bottom: 10px;
}

.stockInfo {

}

.stockLabel {

}

.storeAddressWrapper a {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.storeAddressWrapper .svgIcon {
    width: 13px;
    height: auto;
    fill: currentColor;
}

.stockvalue {
    color: rgb(var(--color-green10));
}



/* Stock Tab Content */


.stockInfo {

}

.qtyInfo {
    font-size: var(--fontSize-300);
    margin-bottom: 10px;

}

.qtyInfo span {
    color:rgb(var(--color-green10));
}

.callInfo {
color: rgb(var(--color-red10));
}

.callInfo a{
    color: rgb(var(--color-black));
}

.callInfo a:hover{
    color: rgb(var(--link-color-hover));
}

.stocks {
    
}

.availability {
    font-weight: var(--font-weight-bold);
}

.instock {
    color: rgb(var(--color-green10));
}


.outofStock {
    color: rgb(var(--color-red10));
}

.storeAddressHours {
    display: flex;
    align-items: flex-start;
    margin: 15px 0;
}

.stocks .storeAddressWrapper {
    margin: 0 0 20px;
    flex: 1 1;

}

.stocks .storeAddress {
    font-weight: bold;
    font-size: var(--fontSize-200);
    
}

.storeDirection {
    color: rgb(var(--theme-color-primary)); 
}

.storeDirection a {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-regular);
}

.storeDirection a:hover {
    color: rgb(var(--text-color)); 
}

.storeDirection .svgIcon{
    width: 16px;
    height: auto;
    display: inline-flex;
    fill: currentColor;
}

.iconWrapper {
    display: inline-flex;
    margin-right: 10px;
}

.storeHours {
    font-size: var(--fontSize-100); 
    flex: 1 1;
}

.storeAddressWrapper .myStore {
    display: flex;
    align-items: center;
    color: rgb(var(--theme-color-primary));
    font-weight: bold;
}

.storeAddressWrapper .myStore .iconCheckbox {
    display: inline-flex;
    margin-right: 10px;

}

.storeAddressWrapper .myStore .selectStoreIcon {
    width: 16px;
    height: auto;
    fill: currentColor; 

}

.shopStore {
    margin-bottom: 10px;
    display: flex;
}


.shopStore span{
    --stroke: var(--theme-color-primary);
    background-color: rgb(var(--stroke));
    color: rgb(var(--color-white));
    border-color: rgb(var(--stroke)); 
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    font-size: var(--fontSize-100);
    font-weight: var(--font-weight-bold);
    line-height: 1.25rem;
    max-width: 100%;
    min-width: 10rem;
    min-height: 2.5rem;
    outline: none;
    padding: calc(0.5rem + 1px) 1.5rem calc(0.5rem - 1px);
    text-transform: uppercase;
    transition-duration: 256ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--venia-global-anim-standard);
    text-align: center;
    cursor: pointer;
    
}

.shophere { 
    --stroke: var(--theme-color-primary);
    background-color: rgb(var(--stroke));
    color: rgb(var(--color-white));
    border-color: rgb(var(--stroke)); 
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    font-size: var(--fontSize-90);
    font-weight: var(--font-weight-bold);
    outline: none;
    padding: calc(0.35rem + 1px) 1rem calc(0.35rem - 1px);
    text-transform: uppercase;
    transition-duration: 256ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--venia-global-anim-standard);
    text-align: center;
    cursor: pointer;
    line-height: 1.25rem;
}

.shophere:hover {
    background-color: var(--color-white);
    color: rgb(var(--stroke));
    border-color: rgb(var(--stroke));
}

.shophere:focus {
    box-shadow: none;
}

.shophere:active {
    transition-duration: 128ms;
    --stroke: var(--theme-color-primary);
}

.shopStore span:hover{ 
    background-color: rgb(var(--color-white));
    color: rgb(var(--stroke));
    border-color: rgb(var(--stroke));
}

.storeNotes {
    
}

.storeNotes p {
    margin-bottom: 15px;
}