.root {
    max-width: 100%;
}
.root > div {
    display: inline-block;
    margin-bottom: 0.5rem;
    max-width: 100%;
}

.stacked {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.inline > div {
    margin-inline-end: 0.5rem;
}


.root button[class]:hover {
    background-color: rgb(var(--color-white));
    color: rgb(var(--stroke));
    border-color: rgb(var(--stroke));
}

.root button[class]:focus {
    box-shadow: none;
}

.root_lowPriority {
    composes: root;
    background-color: var(--color-white);
}
.root_lowPriority:hover {
    background-color: rgb(var(--stroke));
    color: rgb(var(--color-white));
}



