.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #fdf0d7;
}

.icon {
    color :#bf751c
}

.label {
    display: flex;
    flex: 1;
    padding-left: 0.8rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: #836263;
}