.root {
    display: grid;
    font-size: 1rem;
    row-gap: 0.1rem;
    padding-top: 1.125rem;
}

.address {
    display: grid;
    gap: 0.1rem;
    padding-top: 1.125rem;
}

.email {
    color:rgb(var(--theme-color-primary-alt));
}

.name {
    font-weight: var(--font-weight-bold);
}

