.subCategoryContainer{
    
}

.subcatWrapper {
    display: flex;
    flex-wrap: wrap;
}

.subcatListItem {
    display: flex;
    justify-content: center;
    width: calc(100%/7);
    margin-bottom: 20px;
    flex-direction: column;
}

.image {
    
}

.subcatItemInfo {

}