.subCategoryContainer{
    
}

.subcatWrapper {
    display: flex;
    flex-wrap: wrap;
}

.subcatListItem {
    display: flex;
    justify-content: start;
    width: calc(100%/2);
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}
.catImageWrapper {
    margin-bottom: 10px;
}
.image {
    object-fit: contain;
}
.subcatListItem:hover .name {
    color: rgb(var(--link-color-hover));
}
.name {
    font-size: var(--fontSize-100);
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.subcatItemInfo {

}


@media (min-width: 640px) {
    .subcatListItem {
        width: calc(100%/3);
    }
}


@media (min-width: 768px) {
    .subcatListItem {
        width: calc(100%/5);
    }
}

@media (min-width: 1024px) {
    .subcatListItem {
        width: calc(100%/6);
    }
}
@media (min-width: 1200px) {
    .subcatListItem {
        width: calc(100%/7);
    }
}
