.subCategoryContainer{
    
}

.subcatWrapper {
    display: flex;
    flex-wrap: wrap;
}

.subcatListItem {
    display: flex;
    padding: 10px;
    justify-content: center;
    width: calc(100%/7);

}

.image {
    max-height: 100px;
    width: auto;
}

.subcatItemInfo {

}