.root {
  max-width: 575px;
  margin: 0 auto 0 0;
}

.title {
  composes: title from '../ProductReviews/productReviews.css';
}

.legend {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.legendLabel {
  text-transform: uppercase;
  font-size: 10px;
}

.legendProductName {
  font-size: var(--fontSize-200);
  font-weight: bold;
}

.field {
  margin-bottom: 0.5rem;
  display: flex;
}

.field > div {

}

.customClass {

}

.fieldCheckbox {
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.fieldCheckbox + .fieldCheckbox {
  padding-top: 0;
}

.fieldCheckbox label {
  margin: 0 0 0.5rem 0;
}

.actionToolbar button {
  --stroke: var(--theme-color-primary);
  background-color: rgb(var(--stroke));
  color: rgb(var(--color-white));
  border-color: rgb(var(--stroke));
  border-radius: 0;
  border-style: solid;
  border-width: 2px;
  font-size: var(--fontSize-100);
  font-weight: var(--font-weight-bold);
  line-height: 1.25rem;
  max-width: 100%;
  min-width: 10rem;
  min-height: 2.5rem;
  outline: none;
  padding: calc(0.5rem + 1px) 1.5rem calc(0.5rem - 1px);
  text-transform: uppercase;
  transition-duration: 256ms;
  transition-property: background-color, border-color, color;
  transition-timing-function: var(--venia-global-anim-standard);
  margin-right: 0.5rem;
}

.actionToolbar button:hover {
  background-color: rgb(var(--color-white)); 
  color: rgb(var(--stroke));
  border-color: rgb(var(--stroke)); 
}


.signInMessage {
  margin: 2rem 0;
  background: #f7f1de;
  padding: 0.5rem;
  color: #6f5f2f;
}

.successMessage {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  background: rgba(var(--venia-global-color-teal-light));
  padding: 0.5rem;
  color: rgba(var(--venia-global-color-teal));
}

.successMessage svg {
  stroke: rgba(var(--venia-global-color-teal));
  margin-right: 0.5rem;
}

.testRoot {
  color: red;
}

.testRoot input {
  border: 1px blue solid;
}