* {
    box-sizing: border-box;
}
 *, ::after, ::before {
    box-sizing: border-box;
}
/*html {
    */
    /* font-size: 62.5%;
    */
    /* -webkit-text-size-adjust: 100%;
    */
    /* -ms-text-size-adjust: 100%;
    */
    /* font-size-adjust: 100%;
    */
    /*
}
*/
/*body {
    */
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    */
    /* font-size: 1rem;
    */
    /* font-weight: 400;
    */
    /* line-height: 1.5;
    */
    /* text-align: left;
    */
    /* background-color: #fff;
    */
    /*
}
*/
/* Bootstrap */
 .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0;
}
 .columns {
     display: -ms-flexbox;
    display: flex;
     -ms-flex-wrap: wrap;
    flex-wrap: wrap;
     margin-right: -15px;
    margin-left: -15px;
}
 .columns .column {
     padding-bottom: 40px;
     -webkit-flex-basis: auto;
    flex-basis: auto;
     -webkit-flex-grow: 1;
    flex-grow: 1;
     -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
     width: 100%;
}
 .columns .sidebar {
     -webkit-flex-grow: 1;
    flex-grow: 1;
     -webkit-flex-basis: 100%;
    flex-basis: 100%;
     -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
     clear: right;
     padding-left: 2%;
}
 .columns .column, .columns .sidebar {
     position: relative;
     width: 100%;
     padding-right: 15px;
    padding-left: 15px;
}
 @media (min-width: 768px) {
     .columns .column {
        /*float: left;
        */
        /*-ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        */
         -ms-flex: 0 0 75%;
        flex: 0 0 75%;
         max-width: 75%;
         min-height: 300px;
    }
     .columns .sidebar {
        /*float: right;
        */
        /*-ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        */
         -ms-flex: 0 0 25%;
        flex: 0 0 25%;
         max-width: 25%;
    }
}
/* END Bootstrap */
/* Animation Zoom */
 .imageWrapper .animationTypeZoom {
    display: block;
    line-height: 0;
    overflow: hidden;
    position: relative;
}
 .imageContainer .animationTypeZoom {
    -webkit-transition: transform .3s ease,opacity .3s;
    transition: transform .3s ease,opacity .3s;
}
 .imageContainer:hover .animationTypeZoom {
    transform: scale3d(1.1,1.1,1);
     -webkit-transform: scale3d(1.1,1.1,1);
}
.pageTitleWrapper .pageTitle {
    display: inline-block;
    position: relative;
    color: #006;
    font: 700 24px/1.35 sans-serif;
    margin-bottom: 25px;
    margin-top: 0;
}

.pageTitleWrapper .pageTitle::after {
    height: 3px;
    width: 100%;
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    background: #727171;
}

 .postHolder {
    margin-bottom: 40px;
    /*padding: 20px;
    */
    border-radius: 0;
    color: #222222;
}
/* Post List */
 .postList {
    margin-top: 0;
    margin-bottom: 20px;
    list-style: none;
    padding-left: 0
}
 .postList .postItem.postHolder {
    padding: 0 15px 0 0;
    margin-bottom: 30px;
}
 .postList .postContainer {
    display: -ms-flexbox;
    display: flex;
}
/* Bread Crumbs */
 .breadcrumbs {
    margin-top: 1.5rem;
}
 .breadcrumbs a {
    color: #006bb4 !important;
}
 .breadcrumbs a:hover {
    color: #4db2ec !important;
}
 @media (max-width: 767px) {
     .breadcrumbs {
        display: none;
    }
}
/* Post Image */
 .postList .postImage {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    width: 30%;
    order: 0;
}
 .postList .imageContainer {
    position: relative;
}
 .postList .postImage .imageWrapper {
    display: block;
    line-height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 70%;
}
 .postList .postImage .imageWrapper .bgImg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
 .postList .postImage .imageWrapper img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
/* Post Info */
 .postList .postInfo {
    padding: 0 0 0 25px;
    width: 100%;
}
/* Post Title */
 .postList .postInfo .postTitleWrap {
    margin-bottom: .5rem;
}
 .postList .postInfo .postTitleWrap h3 {
    margin: 0;
}
 .postList .postInfo .postTitleWrap h3 a {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
}
/* Post Data */
 .postList .postInfo .postDataWrap {
    font-size: 11px;
    font-family: sans-serif;
    margin-bottom: 1rem;
}
 .postList .postInfo .postDataWrap a {
    font-weight: 600;
}
 .postList .postInfo .postDate {
    font-size: 11px;
    color: #bbbbbb;
}
/* Post Description */
 .postList .postDescription {
    color: #7d7d7d;
    line-height: 21px;
    font-size: 13px;
    /*margin-bottom: 1.5rem;
    */
}
/* Read More */
 .postList .postReadMore {
    display: none;
}
 .postReadMore .postRead {
    display: inline-block;
    color: #fff;
    background-color: #4db2ec;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    padding: 10px 15px;
}
 .postReadMore .postRead:hover {
    color: #fff;
    background: #222222;
}
 @media (max-width: 1200px) {
     .postList .postReadMore {
        display: none;
    }
}
 @media (max-width: 767px) {
     .postReadMore a.postRead {
        display: none;
    }
}
/* Post Category */
 .postList .postImage .postCategory {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    font-size: 0;
    line-height: 1;
}
 .postList .postImage .postCategory a {
    display: inline-block;
    margin: 5px 5px 0 0;
    padding: 5px 10px;
    background: #000;
    color: #fff !important;
    font-size: 11px;
    line-height: 12px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}
 .postList .postImage .postCategory a:hover {
    background: #4db2ec;
}
 @media (max-width: 767px) {
     .postList .postImage .postCategory {
        display: none;
    }
     .postList .postInfo {
        padding: 0 0 0 15px;
    }
     .postList .postDescription {
        display: none;
    }
     .postReadMore a.postRead {
        display: none;
    }
}
 @media (max-width: 640px) {
     .postList .postInfo .postTitleWrap h3 a {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4;
        display: inline-block;
    }
}
/* Toolbar */
 