.block {
    background-color: rgb(var(--color-white));
    padding: 15px;
}

.cartSummary {
    
}

.blockTitle {
    margin-bottom: 10px;
}

.blockcontent {

}

.miniCartItemsWrapper {

}

.miniCartItems {

}

.item {
    display: flex;
    border-top: 1px solid #eee;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 10px;
}

.product {
    display: flex;

}

.item:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0; 
}

.thumbnailContainer {
    margin-right: 15px;
    width: 85px;
    height: 85px;
    border: 1px solid rgb(var(--border-color-base));
    padding: 3px;
    display: inline-flex;
    align-items: center;
}


.thumbnailContainer img {
    display: flex;
    width: 82px;
    height: 82px;
    object-fit: contain;
    overflow: hidden;
}

.productItemDetails {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    font-size: var(--fontSize-90);
    gap: 0.3rem;
}

.productName {
    font-weight: bold;
}

.priceBox {

}

.price {

}
.label  {
    font-weight: bold;
    margin-right: 5px;
}

.label:after {
    content: ":";
}

.value {

}