.root {
    margin-top: 15px;
}
.passwordButton {
    composes: root from '../Button/button.css';
    --stroke: var(--color-gray-middle3);
    background: none;
    border-radius: 0px;
    border-style: none;
    border-width: 0px;
    padding: 0px;
    min-width: 0px;
    
}

.passwordButton:hover {
    --stroke: var(--color-gray-darken2);
}

.passwordButton:focus {
    box-shadow: none;
    --stroke: var(--color-gray-darken2);
}

.root:active {
    --stroke: var(--color-gray-darken2);
}

.label {
    composes: label from '../Field/field.css';
    
    
}