.root {
    display: grid;
    gap: 1rem;
    justify-items: stretch;
}

.buttonContainer {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
}

.cancelButton {
    composes: root_lowPriority from '../../Button/button.css';

    min-width: 9rem;
}

.submitButton {
    composes: root_highPriority from '../../Button/button.css';

    min-width: 9rem;
}
