.root {
    composes: root from '../clickable.css';
    color: rgb(var(--theme-color-primary));
    font-size: var(--fontSize-200);
    font-weight: var(--font-weight-semibold);
    text-decoration: underline;
    line-height: 1.25rem;
    max-width: 100%;
}

.root:hover {
    color: rgb(var(--color-gray40));
}
