.root {
    position: relative;
    margin-left: 0.5rem;
}

.menu {
    position: absolute;
    z-index: 2;
    top: 110%;
    right: 0;
    min-width: 10rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: black;   
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(var(--venia-global-color-gray-dark));
}

.menuItem {
    border-bottom: 1px solid rgb(var(--venia-global-color-gray-dark));
}

.menuItem:last-child {
    border-bottom: none;
}

.menuItem:hover {
    background-color: rgb(var(--venia-global-color-gray));
}

.sortButton {
    composes: root_lowPriority from '../../components/Button/button.css';
    background-color: rgb(var(--color-white));
    border-width: 1px;
    border-color: rgb(var(--border-color-light));
    border-radius: 0;
    font-weight: var(--venia-global-fontWeight-normal);
    color: rgb(var(--text-color));
    text-transform: none;
    padding: 3px 10px;
    min-height: auto;
    min-width: auto;
    line-height: normal;
}
.sortButton:hover {
    background-color: rgb(var(--color-white));;
    color: rgb(var(--text-color));
}

.sortButton svg {
    width: 15px;
}

.desktopText {
    display: none;
}

.sortText {
    line-height: 24px;
    font-size: var(--fontSize-90);
    margin-right: 10px;
}

.desktopIconWrapper {
    composes: root from '../Icon/icon.css';
}

.desktopIcon {
    composes: icon from '../Icon/icon.css';
    stroke: rgb(var(--venia-global-color-gray-500));
}

@media (min-width: 1024px) {

    .mobileText {
        display: none;
    }

    .desktopText {
        display: inline-flex;
    }
}
