.root {
    position: relative;
    margin-left: 0.5rem;
}

.menu {
    position: absolute;
    z-index: 2;
    top: 110%;
    right: 0;
    min-width: 10rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: black;   
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(var(--venia-global-color-gray-dark));
}

.menuItem {
    border-bottom: 1px solid rgb(var(--venia-global-color-gray-dark));
}

.menuItem:last-child {
    border-bottom: none;
}

.menuItem:hover {
    background-color: rgb(var(--venia-global-color-gray));
}

.sortButton {
    composes: root_lowPriority from '../../components/Button/button.css';
    background-color: transparent;
    border-width: 1px;
    border-color: rgb(var(--border-color-light));
    border-radius: 0;
    font-weight: var(--venia-global-fontWeight-normal);
    color: rgb(var(--text-color));
    text-transform: none;
    padding: 0;
    min-height: auto;
    min-width: auto;
    line-height: normal;
}
.sortButton:hover {
    background-color: transparent;
    color: rgb(var(--text-color));
    border-color: transparent;
}

.sortButton svg {
    width: 15px;
}

.desktopText {
    display: none;
}

.sortText {
    line-height: 24px;
    font-size: var(--fontSize-90);
}

.desktopIconWrapper {
    composes: root from '../Icon/icon.css';
}

.desktopIcon {
    composes: icon from '../Icon/icon.css';
    stroke: rgb(var(--venia-global-color-gray-500));
}



@media (min-width: 768px) {

    .mobileText {
        display: none;
    }

    .desktopText {
        display: inline-flex;
        background-color: rgb(var(--color-white));
        padding: 3px 10px;
    }
}


@media (max-width: 767px) {
    
    .sortText {
        --stroke: var(--theme-color-primary);
        background: none;
        border-color: rgb(var(--stroke));
        border-radius: 0;
        border-style: solid;
        border-width: 2px;
        color:  rgb(var(--color-white));    
        font-size: var(--fontSize-100);
        font-weight: var(--font-weight-bold);
        line-height: 1.25rem;
        max-width: 100%;
        min-width: 6.5rem;
        min-height: 2.5rem;
        outline: none;
        padding: calc(0.5rem + 1px) 1.5rem calc(0.5rem - 1px);
        text-transform: uppercase;
        transition-duration: 256ms;
        transition-property: background-color, border-color, color;
        transition-timing-function: var(--venia-global-anim-standard);
       

    }
    .sortText:hover {
        background-color: rgb(var(--color-white));
        color: rgb(var(--text-color));
    }

    .sortButton {
        margin-left: 0;
        width: 50%;
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 9;
        background: rgb(var(--theme-color-primary));
        color: #ffffff;
        border: 0;
        border-left: 1px solid #ffffff;
        height: 50px;
        text-transform: capitalize; 
    }

    .menu {
        margin-left: 0;
        width: 100%;
        position: fixed;
        right: 0;
        bottom: 50px;
        top: inherit;
    }
}

