.root {
    border-bottom: 1px solid rgb(var(--venia-global-color-error));
    color: rgb(var(--venia-global-color-error));
    font-size: var(--fontSize-90);
    font-weight: var(--venia-global-fontWeight-semibold);
    line-height: var(--venia-global-lineHeight-300);
    padding: 0 0 1rem;
    margin-bottom: 10px;
}
