.root {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    flex:1;
    margin-right: 1.5rem;
}

.mainContentWrapper {
    display: flex;
    

}


.checkoutSidebar {

}

.pageTitleWrapper {

}


.title {
    justify-self: center;
    margin-bottom: 10px;
    font-size: var(--fontSize-700);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.primaryButtonWrapper {
    display: flex;
    justify-content: center;
}

.primaryButton {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: darkblue;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}