
.input {
    composes: input from '../../venia/components/Field/field.css';
    
    

}

.input:focus,
.input:focus-visible {
    border-color: rgb(var(--theme-color-secondary));
}
.input:disabled {
    color: rgb(var(--venia-global-color-gray-darker));
}

.input_error {
    composes: input from '../../venia/components/Field/field.css';
    border-color: rgb(var(--venia-global-color-red-400));
}

.inputText {
    composes: input from '../../venia/components/Field/field.css';
}

.control {
    
    
}

.label {
    font-size: var(--fontSize-100);
}

.mageError {
    font-size: var(--fontSize-75);
    color: rgb(var(--color-error));
    padding: 10px 0;
}