.root {
    background-color: white;
    display: grid;
    gap: 0.25rem;
    grid-auto-columns: minmax(2rem, auto);
    grid-auto-flow: column;
    justify-content: center;
    text-align: justify;
    margin-bottom: 1rem;
}


@media (min-width: 768px) {
    .root {
        justify-content: flex-start;
        margin-bottom: 0;
       
    }
}
