.root {
    display: grid;
    grid-auto-columns: 100%;
    justify-items: center;
    width: 100%;
    z-index: 10;
    --header-height: 5rem;
}

.checkoutHeader {
    max-width: var(--venia-global-maxWidth);
    margin: 0 auto;
}

.logo {
    grid-area: title;
}







.svgIcon {
    fill: currentColor;
}
.loader,
.loader:before,
.loader:after {
    --dot-size: 2em;
    --dot-font-size: 6px;
    --dot-shadow-offset: calc(-1 * var(--dot-size) + var(--dot-font-size));
    border-radius: 50%;
    width: var(--dot-size);
    height: var(--dot-size);
    animation: pulse 1.8s infinite ease-in-out;
    animation-fill-mode: both;
}

.loader {
    color: rgb(var(--color-gray-darken0));
    font-size: var(--dot-font-size);
    margin: var(--dot-shadow-offset) auto 0;
    position: relative;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    color: rgb(var(--color-gray-light0));
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    color: rgb(var(--color-gray-darken0));
    left: 3.5em;
}





@keyframes pulse {
    0%,
    80%,
    100% {
        box-shadow: 0 var(--dot-size) 0 -1.3em;
    }
    40% {
        box-shadow: 0 var(--dot-size) 0 0;
    }
}




.panelWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.panelBody {
    max-width: var(--venia-global-maxWidth);
    width: 100%;
    padding-left: var(--layout-indent-width);
    padding-right: var(--layout-indent-width);
    justify-content: space-between;
}


.icon {
    margin-right: 10px;
    display: inline-flex;
}

.action {
    color: rgb(var(--color-white)); 
    padding: 5px;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
}
.action:hover {
    background-color: rgb(var(--color-gray30));
}


.iconWrapper {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-flex;
}

.svgIcon {
    fill: currentColor;
}


.toolbarContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logowrapper {
    margin-right: 20px;
}

.csContainer {
    display: flex;
    align-items: center;
    color: rgb(var(--theme-color-primary));

}

.csContainer .iconWrapper {
    margin-left: 0;
    margin-right: 0;
}

.csContent {
    display: flex;
    flex-direction: column;
    
}
.csLabel {
    font-size: var(--fontSize-300);
    line-height: var(--fontSize-300);
}
.csAction {
    font-size: var(--fontSize-500);
    line-height: var(--fontSize-500);
}
.csAction:hover {
    color: rgb(var(--text-color));
}




@media print {
    .headerNotice,
    .topMenuWrapper,
    .switchers,
    .csContainer,
    .searchBarWrapper,
    .storeLocationWrapper,
    .toolbar,
    .navContainer {
        display: none;
    }
}

