.root {
    align-content: start;
    display: grid;
    row-gap: 0.5rem;
    grid-template-columns: repeat(1, 250px 1fr);
}

.itemImageContainer {

}

.images {
    display: grid;
    grid-template-areas: 'main';
}

.imageContainer {
    grid-area: main;
}

.image {
    display: block;
    height: 100%;
    object-fit: contain;
    opacity: 1;
    transition-duration: 512ms;
    transition-property: opacity, visibility;
    transition-timing-function: ease-out;
    visibility: visible;
    width: 100%;
}

.imagePlaceholder {
    composes: image;
    background-color: rgb(var(--venia-global-color-gray));
}

.itemDetails {
    padding-left: 20px;

}

.actionsContainer {
    column-gap: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.actionsContainer:empty {
    display: none;
}
.nameContainer {
}

.name {
    font-size: var(--fontSize-200);
    font-weight: var(--font-weight-bold);
    color: var(--product-name-color);
    margin-bottom: 5px;
}

.sku {
    font-size: var(--fontSize-100);
    color: rgb(var(--color-gray-middle3));
    margin-bottom: 10px;
    
}

.price {
    font-weight: var(--font-weight-bold);
    font-size: var(--fontSize-500);
    color: rgb(var(--product-price-color)); 
    margin-bottom: 10px;
}

.unit {
    margin-left: 5px;
    font-weight: var(--font-weight-regular);
    color: rgb(var(--product-unit-color));
    font-size: var(--fontSize-100);
}
.unit:before {
    content: "/"
}

.productActions {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    
}

.viewMore {
    composes: root_highPriority from '../../components/Button/button.css';
    background-color: rgb(var(--theme-color-primary-alt));
    border-color: rgb(var(--theme-color-primary-alt));
    margin-right: 10px;
    padding: 3px 15px;
    min-width: auto;
    min-height: auto;
    line-height: auto;
}

.viewMore:hover {
    border-color: rgb(var(--theme-color-primary-alt));
}

.productOptions {
    margin-bottom: 10px;

}
.actionsContainer {

}

.iconWrapper {
    composes: root_highPriority from '../../components/Button/button.css';
    border-width: 1px;
    margin: 0 5px;
    padding: 7px;
    min-width: auto;
    min-height: auto;
    line-height: normal;
    
}
.iconWrapper:hover .svgIcon {
    fill: rgb(var(--theme-color-primary));
}

.svgIcon {
    fill: rgb(var(--color-white));
    width: auto;
    height: 14px;
}

/* state: pending */

.root_pending {
    composes: root;
}

.image_pending {
    composes: image;
    background-color: rgb(var(--venia-global-color-gray));
}

.images_pending {
    composes: images;
}

.name_pending {
    composes: name;
    background-color: rgb(var(--venia-global-color-gray));
}

.price_pending {
    composes: price;
    background-color: rgb(var(--venia-global-color-gray));
    width: 3rem;
}
