.root {
    --borderColor: var(--venia-global-color-border);
    background-color: white;
    bottom: 0;
    display: none;
    grid-template-rows: 1fr 7rem;
    max-width: 360px;
    width: 100%;
    z-index: 3;
}

.body {
    overflow: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    
}

.headerTitle {
    display: flex;
    align-items: center;
    font-size: var(--fontSize-200);;
    line-height: 0.875rem;
    text-transform: uppercase;
}

.action {
    padding: 1rem 0;
}

.action button {

}

.blocks {
    
}

.blocks > li:last-child {
    
}

@media (min-width: 1024px) {
    .root {
        display: grid;
    }
    .blocks {
       
    }
}
