.root {
    display: grid;
    gap: 1.5rem;
    justify-items: stretch;
    padding: 1.5rem;
}

.title {
    composes: title from '../SignIn/signIn.css';
    padding-top: 0.5rem;
}

.instructions {
    line-height: 1.25rem;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--fontSize-90);
}



.loginContainer {
    border: 1px solid #e9eaec;
}


.actionToolbarLogin {
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    justify-self: start;
    text-align: center;
}

.forgotPasswordBlock {
    margin-bottom: 20px;
    padding:  20px;
}
