.root {
    display: grid;
    gap: 1.5rem;
    justify-items: stretch;
    padding: 1.5rem;
}

.title {
    padding-top: 0.5rem;
    text-transform: capitalize;
}

.instructions {
    font-weight: 300;
    line-height: 1.25rem;
    margin-bottom: 20px;
    text-align: center;
}



.loginContainer {
    border: 1px solid #e9eaec;
}

.title {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}
.actionToolbarLogin {
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    justify-self: start;
    text-align: center;
}

.forgotPasswordBlock {
    margin-bottom: 20px;
    padding:  20px;
}
