.root {
    --leftViewportElement: 0;
}

.contained {
    composes: root;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: var(--venia-global-maxWidth); 
    width: 100%;
}

.videoOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -99;
    -webkit-transform: translate3d(0, 0, 0);
}

.root :global [id*='jarallax-container'] video,
.root :global [id*='jarallax-container'] iframe {
    visibility: hidden;
}

.home-section {
    margin-bottom: 20px;
}
.banner-callout {
    margin-bottom: 40px;
}


.home-section h3 {
    font-size: var(--fontSize-600);
    font-weight: 400;
    margin: 0 0 35px 0;  
    text-transform: none;
    position: relative;
    color: rgb(var(--color-black));
    padding-bottom: 5px;  
    letter-spacing: 2px;
}
.home-section h3:after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    background: #000;
    bottom: 0;
    left: calc((100% - 100px)/2);
}

.shop-by img{
width: 130px;
}

.shop-by a {
    text-decoration: none;
    font-size: var(--fontSize-100);
}

.shop-by a:hover {
    color: rgb(var(--color-gray-middle1));
}

.banner-ads {

}
.banner-ads img,
.banner-callout img {
    display: block;
}

@media only screen and (max-width: 768px) {
    .root {
        background-attachment: scroll !important;
    }
}
