.root {
    composes: root from '../clickable.css';
    --stroke: var(--theme-color-primary);
    background: none;
    border-color: rgb(var(--stroke));
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    color: rgb(var(--stroke));
    font-size: var(--fontSize-100);
    font-weight: var(--font-weight-bold);
    line-height: 1.25rem;
    max-width: 100%;
    min-width: 10rem;
    min-height: 2.5rem;
    outline: none;
    padding: calc(0.5rem + 1px) 1.5rem calc(0.5rem - 1px);
    text-transform: uppercase;
    transition-duration: 256ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--venia-global-anim-standard);

   
}

.root:hover {
    background-color: var(--color-white);
    color: rgb(var(--stroke));
    border-color: rgb(var(--stroke));
}

.root:focus {
    box-shadow: none;
}

.root:active {
    transition-duration: 128ms;
    --stroke: var(--theme-color-primary);
}

/**
 * Some browsers retain the :hover state after a click, this ensures if a button becomes disabled after
 * being clicked it will be visually disabled.
 */
.root:disabled,
.root:hover:disabled {
    pointer-events: none;
    --stroke: var(--color-gray-darken1);
}

.content {
    align-items: center;
    display: inline-grid;
    gap: 0.35rem;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
}

/* derived classes */
.root_lowPriority {
    composes: root;
    background-color: var(--color-white);
}
.root_lowPriority:hover {
    background-color: rgb(var(--color-red));
    color: rgb(var(--color-white));
}
.root_lowPriorityNegative {
    composes: root_lowPriority;
    --stroke: var(--color-red);
}
.root_lowPriorityNegative:hover {
    --stroke: var(--color-red1);
}

.root_normalPriority {
    composes: root;
    background-color: rgba(255 255 255);
}
.root_normalPriority:hover {
    background-color: rgb(var(--color-red));
    color: rgb(var(--color-white));
}
.root_normalPriorityNegative {
    composes: root_normalPriority;
    --stroke: var(--color-red);
}
.root_normalPriorityNegative:hover {
    --stroke: var(--color-red1);
}

.root_highPriority {
    composes: root;
    background-color: rgb(var(--stroke));
    color: rgb(var(--color-white));
}
.root_highPriorityNegative {
    composes: root_highPriority; 
    --stroke: var(--color-red);
}
.root_highPriorityNegative:hover {
    --stroke: var(--color-red1);
}
