.root {
    color: rgb(var(--text-color));
    font-size: 0.875rem;
    font-weight: var(--font-weight-bold);;
    line-height: 1rem;
    padding: 0.625rem 0.125rem 0.125rem;
}

.root:empty {
    display: none;
}

.root_error {
    composes: root;
    color: rgb(var(--color-error));
    font-weight: normal;
}
