:root {
    --category-sidebar-width: 250px;
}

.root {
    
}

.title {
   

    
}

.pagination {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(var(--venia-global-color-border));
    padding-top: 1rem;
    flex-wrap: wrap;
}

.paginationItem {
    flex-basis: 100% ;
}

.parPageItem {
    
    display: flex;
    align-items: center;
}

.placeholder {
    height: 100vh;
}

.categoryTitle {
    font-size: var(--fontSize-600);
    color: rgb(var(--theme-color-primary));
    font-weight: var(--font-weight-bold);
    margin: 0 0 10px 0; 
    padding: 0;
}

.categoryDescription {
    font-size: var(--fontSize-100);
    margin-bottom: 20px;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(var(--color-gray-light10));
    padding: 5px 10px;
    margin-bottom: 20px;
}

.categoryInfo {
    margin: 1rem 0;
    font-size: 0.875rem;
    max-width: 75vw; 
}

.headerButtons {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding-bottom: 1rem;
}

.subcategoryWrapper {
    margin-bottom: 20px;

}

.contentWrapper {
    width: 100%;
}

.sidebar {
    display: none;
}

@media (max-width:767px) {

    .root {
        padding-left: var(--layout-indent-width);
        padding-right: var(--layout-indent-width);
   }
  
}

@media (min-width: 768px) {
    .contentWrapper {
        display: flex;
        gap: 4rem;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 20px 0;
    }

    .categoryHeader {
        
    }

    .headerButtons {
        justify-content: flex-end;
    }

    .heading {
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
    }

    .headerButtons {
        padding-bottom: 0;
    }

    .categoryInfo {
        margin: 0;
        flex-basis: 100%;
        
    }

    .sidebar {
        flex: 0 0 250px;
        width: var(--category-sidebar-width);
        display: flex;
        align-self: flex-start;
        order: 1;
    }

    .categoryContent {
        flex-grow: 1;
        padding-bottom: 40px;
        -webkit-flex-basis: auto;
        flex-basis: auto;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        width: 75%;
    }
    .pagination {
        position: relative;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgb(var(--venia-global-color-border));
        padding-top: 1rem;
    }
    
    .paginationItem {
        flex: 1 ;
    }
    
}
