.root {
    align-content: start;
    display: grid;
    row-gap: 0.5rem; 
    padding: 0px 15px;
    
}

.images {
    display: grid;
    grid-template-areas: 'main';
}

.imageContainer {
    grid-area: main;
    justify-content: center;

}

.image {
    display: block;
    object-fit: contain;
    opacity: 1;
    transition-duration: 512ms;
    transition-property: opacity, visibility;
    transition-timing-function: ease-out;
    visibility: visible;
    
}

.imagePlaceholder {
    composes: image;
    background-color: rgb(var(--venia-global-color-gray));
}

.actionsContainer {
    column-gap: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.actionsContainer:empty {
    display: none;
}

.name {
    font-weight: var(--font-weight-bold);
    font-size: var(--fontSize-300);
    text-align: left;
    color: rgb(var(--product-name-color));
}

.name,
.sku,
.price {
    min-height: 1rem;
    text-align: left;
}
.price {
    font-weight: var(--font-weight-bold);
    font-size: var(--fontSize-300);
    color: rgb(var(--product-price-color)); 
}
.sku {
    font-size: var(--fontSize-100);
    color: rgb(var(--color-gray-middle3));
}
.unit {
    margin-left: 5px;
    font-weight: var(--font-weight-regular);
    color: rgb(var(--product-unit-color));
}
.unit:before {
    content: "/"
}

/* state: pending */

.root_pending {
    composes: root;
}

.image_pending {
    composes: image;
    background-color: rgb(var(--venia-global-color-gray));
}

.images_pending {
    composes: images;
}

.name_pending {
    composes: name;
    background-color: rgb(var(--venia-global-color-gray));
}

.price_pending {
    composes: price;
    background-color: rgb(var(--venia-global-color-gray));
    width: 3rem;
}
