.megaMenuItem {
    position: relative;
    
}

.megaMenuLink {
    color: rgb(var(--color-white));
    align-items: center;
    display: inline-flex;
    min-height: 50px;
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);

}
.megaMenuLink:hover {
    text-decoration: none;
}

.megaMenuLinkActive {
    composes: megaMenuLink;
    text-decoration: none;
}

.megaMenuItem:hover > div,
.megaMenuItem:focus > div {
    display: flex;
}

.megaMenuItem:hover .megaMenuLink,
.megaMenuItem:focus .megaMenuLink {
    text-decoration: none;
    background-color: rgb(116 116 116);
}
