.submenuColumn {
    max-width: 235px;
    padding: 0px 5px;
}

.heading {
    font-weight: var(--font-weight-bold);
    font-size: var(--fontSize-100);
}

.link {
    white-space: nowrap;
    color: rgb(var(--color-white));
}

.link:hover,
.link:focus,
.linkActive {
    text-decoration: underline; 
}

.submenuChild {
    margin-top: 0px;
    display: none;
}

.submenuChildItem {
    margin-bottom: 0px;
}
