.submenuColumn {
    width: 14.5rem;
    padding: 0px 0;
    position: relative;
}
.submenuColumn:hover {
    background-color: rgb(var(--color-white));
    color: rgb(var(--text-color)); 
}

.submenuColumn:hover .heading {
    color: rgb(var(--text-color)); 
}

.heading {
    font-size:1rem; 
    text-transform: none;
    margin: 0;
    font-weight: normal; 
    padding: 8px 15px;
}

.link {
    color: rgb(var(--color-white));
 
}

.link:hover,
.link:focus,
.linkActive {
    text-decoration: none; 
    background-color: rgb(var(--color-white));
    color: rgb(var(--text-color));
}
.submenuColumn:hover .submenuChild {
    display: block;
}
.submenuChild {
    margin-top: 0px;
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    width: 14.5rem;
    background-color: rgb(var(--color-white));
}

.submenuChildItem {
    margin-bottom: 0px;
    
}

.submenuChildItem a {
    padding: 8px 15px;
    display: block;
    color: rgb(var(--text-color));
}

.submenuChildItem a:hover {
    background-color: rgb(var(--theme-color-primary-alt));
    color: rgb(var(--color-white));

}
