.submenu {
    background-color: rgb(var(--color-gray-light03));
    display: none;
    left: 0;
    position: absolute;
    padding:0;
    top: 100%;

}



.submenuItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    text-transform: none;
    
}
