.submenuColumn {
    max-width: 235px;
    padding: 10px;
    flex-basis: 20%;
}

.heading {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
    text-transform: capitalize;
    color: rgb(var(--theme-color-primary));
}

.link {
    white-space: nowrap;
    
}

.link:hover,
.link:focus,
.linkActive {
    text-decoration: underline;
}

.submenuChild {
    max-height: 120px;
    overflow: hidden;
}

.submenuChildItem {
    margin-bottom: 5px;
    font-size: 14px;
}
