/* global tokens */
:global(:root) {
    /* animation */
    --venia-global-anim-bounce: cubic-bezier(0.5, 1.8, 0.9, 0.8);
    --venia-global-anim-in: cubic-bezier(0, 0, 0.2, 1);
    --venia-global-anim-out: cubic-bezier(0.4, 0, 1, 1);
    --venia-global-anim-standard: cubic-bezier(0.4, 0, 0.2, 1);

    /* color */

       
    --venia-global-color-blue-100: 194 200 255;
    --venia-global-color-blue-400: 61 132 255;
    --venia-global-color-blue-500: 51 109 255;
    --venia-global-color-blue-600: 41 84 255;
    --venia-global-color-blue-700: 31 57 255;
    --venia-global-color-blue-800: 23 43 196;
    --venia-global-color-gray-50: 255 255 255;
    --venia-global-color-gray-75: 250 250 250;
    --venia-global-color-gray-100: 244 245 245;
    --venia-global-color-gray-200: 234 235 235;
    --venia-global-color-gray-300: 223 225 226;
    --venia-global-color-gray-400: 181 184 186;
    --venia-global-color-gray-500: 149 154 157;
    --venia-global-color-gray-600: 118 123 127;
    --venia-global-color-gray-700: 84 93 99;
    --venia-global-color-gray-800: 51 63 71;
    --venia-global-color-gray-900: 23 32 38;
    --venia-global-color-gray: var(--venia-global-color-gray-100);
    --venia-global-color-gray-dark: var(--venia-global-color-gray-300);
    --venia-global-color-gray-darker: var(--venia-global-color-gray-600);
    --venia-global-color-green-400: 51 171 132;
    --venia-global-color-green-500: 45 157 120;
    --venia-global-color-green-600: 38 142 108;
    --venia-global-color-green-700: 18 128 92;
    --venia-global-color-orange: 241 99 33;
    --venia-global-color-red-400: 236 91 98;
    --venia-global-color-red-500: 227 72 80;
    --venia-global-color-red-600: 215 55 63;
    --venia-global-color-red-700: 201 37 45;
    --venia-global-color-red-800: 161 30 36;
    --venia-global-color-teal: var(--venia-global-color-blue-400);
    --venia-global-color-teal-dark: var(--venia-global-color-blue-600);
    --venia-global-color-teal-light: var(--venia-global-color-gray-100);

       /* color by semantics */
       --venia-global-color-background: var(--venia-global-color-gray-50);
       --venia-global-color-border: var(--venia-global-color-gray-300);
       --venia-global-color-error: var(--venia-global-color-red-700);
       --venia-global-color-text: var(--venia-global-color-gray-900);
       --venia-global-color-text-alt: var(--venia-global-color-gray-darker);
       --venia-global-color-text-hint: var(--venia-global-color-gray-500);
       --venia-global-color-warning-dark: var(--venia-global-color-red-700);
       --venia-global-color-warning-light: var(--venia-global-color-gray-100);

       --color-blue10: 0 0 102; /*----- #006E8E [blue] Secondary Buttons add-to-cart, view-more, wishlist -----*/
       --color-blue20: 0 110 142; /*----- #000066 [blue] Primary Buttons -----*/
       --color-blue30: 61 132 255; /*----- #000066 [blue] input focus border color -----*/
       --color-gray10: 77 77 77; /*----- #4D4D4D [gray] Regular text -----*/
       --color-gray20: 56 56 56; /*----- #383838 [Dark gray]  section backgrounds, for differentiating between footer -----*/
       --color-gray30: 116 116 116; /*----- #747474 [Middle gray]  Nav menu sub/child category text and background colors -----*/
       --color-gray40: 238 238 238; /*----- #EEEEEE [Light gray]  section background, i.e. announcement bar in header -----*/
       --color-red10: 204 0 0; /*----- #CC0000 [red]  Sale prices, warnings/errors/etc  -----*/
       --color-green10: 72 129 17; /*----- #488111 [green]  Stock quantity messages -----*/
   


       --theme-color-primary: var(--color-blue10);
       --theme-color-primary-alt: var(--color-blue20);
       --theme-color-secondary: var(--color-blue30);       

       --text-color: var(--color-gray10);
       --text-color-alt: var(--color-gray20);

       --text-color-light: var(--color-gray10);

       --color-gray-darken0: 118 123 127;
       --color-gray-darken10: var(--color-gray20);

       --color-gray-middle10:  var(--color-gray30);
       --color-gray-light10:  var(--color-gray40);       

       --product-name-color:  var(--color-gray10);
       --product-name-color-hover:  var(--link-color-hover);
       --product-price-color: var(--color-blue20);
       --product-special-price-color: var(--color-red10);
       
       --product-unit-color: var(--color-gray10);


       --link-color: var(--theme-color-primary);
       --link-color-hover: var(--color-gray-middle10); 


    /* custom Variable */
    --color-red: 201 37 45;
    --color-red1: 161 30 36;
    --color-red2: 250 229 229;
    
    --color-white: 255 255 255;
    --color-black: 0 0 0;

    --color-gray-light0: 245 245 245;
    --color-gray-light01: 233 234 236;
    --color-gray-light02: 238 238 238;
    --color-gray-light03: 116 116 116;
    
    --color-gray-middle1: 77 77 77;
    --color-gray-middle2: 225 225 225;
    --color-gray-middle3: 149 154 157;


    --color-error: var(--color-red);
    --color-error-background: var(--color-red2);

    --font-size-base: .875rem;
    --font-size-m: 1rem;

    --fontSize-50: 0.6875rem; /* 11px */
    --fontSize-75: 0.75rem; /* 12px */
    --fontSize-90: 0.8125rem; /* 13px */
    --fontSize-100: 0.875rem; /* 14px */
    --fontSize-200: 1rem; /* 16px */
    --fontSize-300: 1.125rem; /* 18px */
    --fontSize-400: 1.25rem; /* 20px */
    --fontSize-500: 1.375rem; /* 22px */
    --fontSize-600: 1.5rem; /* 24px */
    --fontSize-650: 1.625rem; /* 26px */
    --fontSize-700: 1.75rem; /* 28px */
    --fontSize-800: 2rem; /* 32px */
    --fontSize-900: 2.25rem; /* 36px */
    --fontSize-1000: 2.5rem; /* 40px */
    --fontSize-1100: 3rem; /* 48px */
    --fontSize-1200: 3.5rem; /* 56px */

    /* font family */
    --font-family-base: sans-serif;
    --font-family-serif: 'Source Serif Pro', serif;

    /*  Weights */
    --font-weight-hairline: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-heavier: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-heavy: 900;

    --page-background-color: var(--color-white);

    --border-color-base: var(--color-gray-middle2);
    --border-color-light: var(--color-gray-light01);
    --border-color-dark: var(--color-gray-middle3);
    --border-width-base: 1px;

    
    /* Line Height */
    --line-height-base: 1.428571429;
    --line-height-computed: calc(--fontSize-100 * --line-height-base);
    --line-height-xl: 1.7;
    --line-height-l: 1.5;
    --line-height-s: 1.33;

    /* dimensions */
    --venia-global-maxWidth: 1366px;
    --layout-indent-width: 15px;
    --venia-global-header-minHeight: 5rem;

}

@media (max-width: 960px) {
    :global(:root) {
        --venia-global-header-minHeight: 3.5rem;

    }
}

/* alias tokens */
:global(:root) {
    /* colors */
    --venia-brand-color-1-100: var(--venia-global-color-blue-100);
    --venia-brand-color-1-400: var(--venia-global-color-blue-400);
    --venia-brand-color-1-500: var(--venia-global-color-blue-500);
    --venia-brand-color-1-600: var(--venia-global-color-blue-600);
    --venia-brand-color-1-700: var(--color-red);
    --venia-brand-color-1-800: var(--theme-color-primary); 

    /* typography */
    /* heading */
    --venia-global-typography-heading-XL-fontSize: var(
        --venia-global-fontSize-600
    );
    --venia-global-typography-heading-L-fontSize: var(
        --venia-global-fontSize-400
    );
    --venia-global-typography-heading-M-fontSize: var(
        --venia-global-fontSize-300
    );
    --venia-global-typography-heading-S-fontSize: var(
        --venia-global-fontSize-200
    );
    --venia-global-typography-heading-XS-fontSize: var(
        --venia-global-fontSize-100
    );
    --venia-global-typography-heading-lineHeight: calc(
        var(--venia-global-lineHeight-200) * 1em
    );

    /* body */
    --venia-typography-body-XXXL-fontSize: var(--venia-global-fontSize-600);
    --venia-typography-body-XXL-fontSize: var(--venia-global-fontSize-500);
    --venia-typography-body-XL-fontSize: var(--venia-global-fontSize-400);
    --venia-typography-body-L-fontSize: var(--venia-global-fontSize-300);
    --venia-typography-body-M-fontSize: var(--venia-global-fontSize-200);
    --venia-typography-body-S-fontSize: var(--venia-global-fontSize-100);
    --venia-typography-body-XS-fontSize: var(--venia-global-fontSize-50);
    --venia-typography-body-lineHeight: calc(
        var(--venia-global-lineHeight-300) * 1em
    );

    /* detail */
    --venia-typography-detail-XL-fontSize: var(--venia-global-fontSize-200);
    --venia-typography-detail-L-fontSize: var(--venia-global-fontSize-100);
    --venia-typography-detail-M-fontSize: var(--venia-global-fontSize-75);
    --venia-typography-detail-S-fontSize: var(--venia-global-fontSize-50);
    --venia-typography-detail-lineHeight: calc(
        var(--venia-global-lineHeight-200) * 1em
    );


   


}
