.root {
}


.homeSection {
    margin: 0 auto 20px;
    max-width: var(--venia-global-maxWidth); 
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.homeSection h3 {
    font-size: 1.375rem;
    font-weight: 400;
    margin: 0 0 35px 0;  
    text-transform: none;
    position: relative;
    text-align: center;
}
.homeSection h3:after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    background: #000;
    bottom: 0;
    left: calc((100% - 100px)/2);
}

.brandWrapper {
    display: flex;

}

.brandItem {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 120px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 16.6667%;
}

.brandImage {
    display: block;
}
.brandImage img {
    max-width: 100%;
}


/* =============================================== */


.slick-slider {
    min-height: inherit;
}

.slick-list {
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    min-height: inherit;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
}

.slick-track {
    display: block;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    min-height: inherit;
}

.slick-track .slick-slide > div {
    min-height: inherit;
}

.slick-track:before,
.slick-track:after {
    content: '';
    display: table;
}

.slick-track:after {
    clear: both;
}

:global .slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: inherit;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-loading {
    border: 1px solid transparent;
    display: block;
    height: auto;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev,
.slick-next {
    opacity: 0;
    transition: 0.3s;
    
}
.root:hover :global .slick-prev,
.root:hover :global .slick-next {
    opacity: 1;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-prev,
.slick-next {
    background: rgba(0, 0, 102, 1);
    border: none;
    border-radius: 0; 
    color: transparent;
    cursor: pointer;
    display: inline-flex !important;
    align-items: center;
    font-size: 0;
    height: 72px;
    line-height: 0;
    outline: none;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 32px;
    z-index: 101;
}

.slick-dots {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
}
.slick-dots li {
    cursor: pointer;
    display: inline-block;
    height: 11px;
    margin: 0 2px;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 11px;
}
.slick-dots li button {
    outline: none;
    background: rgb(var(--color-gray10));
    filter: brightness(100%);
    border-radius: 10px;
    box-shadow: none;
    cursor: pointer;
    display: block;
    height: 11px;
    padding: 0;
    text-indent: -99999px;
    transition: 0.5s;
    width: 11px;
    opacity: 0.4;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}
.slick-dots li button:hover {
    filter: brightness(80%);
}

.slick-dots li button:active,
.slick-dots li button:focus,
.slick-dots li button:not(.primary) {
    box-shadow: none;
}

.slick-dots li.slick-active button {
    background: #1c1918;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.slick-current {
    z-index: 1;
}