.block {
    padding: 15px;
    background-color: rgb(var(--color-white));
    margin-bottom: 15px;
}

.paymentMethod {

}

.blockTitle {
    font-size: 1.3rem;
    font-weight: 700;
}

.blockcontent {
    margin-top: 15px;
}

.fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    max-width: 450px; 
}

.field {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.field:last-child {
    margin-bottom: 0;
}

.choice {

}

.optionChoice {
    margin-right: 1rem;
    display: inline-flex;
}

.customRadio {

}

.methodDetails {
font-size: var(--fontSize-100);
cursor: pointer;

}

.paymentOptions {

}

.paymentMethods {
    
}