.root {
    display: block;
    position: relative;
    touch-action: pan-y;
    user-select: none;
    --leftViewportElement: -99999px;
}
.root :global .slick-current {
    --leftViewportElement: 0;
}

.bannerRoot {
    composes: root from '../Banner/banner.css';
    min-height: inherit;
}
.bannerLink {
    composes: link from '../Banner/banner.css';
    min-height: inherit;
}
.bannerWrapper {
    composes: wrapper from '../Banner/banner.css';
    min-height: inherit;
}
.bannerPosterOverlay {
    composes: posterOverlay from '../Banner/banner.css';
    min-height: inherit;
}

.root :global .slick-slider {
    min-height: inherit;
}

.root :global .slick-list {
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    min-height: inherit;
}

.root :global .slick-list:focus {
    outline: none;
}

.root :global .slick-list.dragging {
    cursor: pointer;
}

.root :global .slick-track {
    display: block;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    min-height: inherit;
}

.root :global .slick-track .slick-slide > div {
    min-height: inherit;
}

.root :global .slick-track:before,
.root :global .slick-track:after {
    content: '';
    display: table;
}

.root :global .slick-track:after {
    clear: both;
}

:global .slick-loading .slick-track {
    visibility: hidden;
}

.root :global .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: inherit;
}

[dir='rtl'] .root :global .slick-slide {
    float: right;
}

.root :global .slick-slide img {
    display: block;
}
.root :global .slick-slide.slick-loading img {
    display: none;
}

.root :global .slick-slide.dragging img {
    pointer-events: none;
}

:global .slick-initialized .slick-slide {
    display: block;
}

:global .slick-loading .slick-slide {
    visibility: hidden;
}

.root :global .slick-vertical .slick-loading {
    border: 1px solid transparent;
    display: block;
    height: auto;
}

.root :global .slick-slider .slick-track,
.root :global .slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.root :global .slick-arrow.slick-hidden {
    display: none;
}

.root :global .slick-prev,
.root :global .slick-next {
    opacity: 0;
    transition: 0.3s;
    
}
.root:hover :global .slick-prev,
.root:hover :global .slick-next {
    opacity: 1;
}

.root :global .slick-prev {
    left: 0;
}
.root :global .slick-prev:before {
   
    
}

.root :global .slick-next {
    right: 0;
}
.root :global .slick-next:before {
    
}

.root :global .slick-prev,
.root :global .slick-next {
    background: rgba(0, 0, 102, 1);
    border: none;
    border-radius: 0; 
    color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 0;
    height: 72px;
    line-height: 0;
    outline: none;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 32px;
    z-index: 101;
}

.root :global .slick-dots {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
}
.root :global .slick-dots li {
    cursor: pointer;
    display: inline-block;
    height: 11px;
    margin: 0 2px;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 11px;
}
.root :global .slick-dots li button {
    outline: none;
    background: rgb(var(--color-gray10));
    filter: brightness(100%);
    border-radius: 10px;
    box-shadow: none;
    cursor: pointer;
    display: block;
    height: 11px;
    padding: 0;
    text-indent: -99999px;
    transition: 0.5s;
    width: 11px;
    opacity: 0.4;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}
.root :global .slick-dots li button:hover {
    filter: brightness(80%);
}

.root :global .slick-dots li button:active,
.root :global .slick-dots li button:focus,
.root :global .slick-dots li button:not(.primary) {
    box-shadow: none;
}

.root :global .slick-dots li.slick-active button {
    background: #1c1918;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.root :global .slick-current {
    z-index: 1;
}




.mycustom {
    
}

.home-slider .slick-slide {
    padding-left: 10px;
    padding-right: 10px;
}

.root.products-home-slider .slick-slider .slick-prev,
.root.products-home-slider .slick-slider .slick-next {
    width: 32px;
    height: 72px;
}
