.root {
    color: rgb(var(--venia-global-color-text-alt));
    text-align: center;
    font-size: 0.875rem;
  
}

.sortText {
    font-weight: 600;
}

@media (min-width: 768px) {
    .root {
        display: none;
        padding-bottom: 1rem;
    }
}
