.page {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 23rem;
    /* The summary grid item spans the entire right column. */
    grid-template-areas:
    'items summary';
    max-width: var(--venia-global-maxWidth);
    margin: 0 auto;
    padding: 2rem var(--layout-indent-width);
}

.container {
    grid-area: items;
}

.block {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(var(--color-white));
    margin-bottom: 15px;
    margin-top: 1rem;
}

.block:first-child {
    margin-top: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.2rem;
    font-weight: bold;
}

.header .editButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem;
}

.contentBlock {
    display: flex;
    flex-direction: column;
}

.shippingMethod {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

.paymentMethod :first-child {
    font-size: 1rem;
    font-weight: bold;
}

.paymentMethod :last-child {
    font-size: 0.8rem;
}

.primaryButtonWrapper {
    display: flex;
    
}

.sidebar {
    grid-area: summary;
}

.secondaryButton {
  
    background:  rgb(var(--theme-color-primary));
    border-color: rgb(var(--theme-color-primary));
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    color: rgb(var(--color-white));
    font-size: var(--fontSize-200);
    font-weight: var(--font-weight-bold);
    line-height: 2.25rem;
    max-width: 100%;
    min-width: 10rem;
    min-height: 3.5rem;
    outline: none;
    padding: calc(0.5rem + 1px) 1.5rem calc(0.5rem - 1px);
    text-transform: uppercase;
    transition-duration: 256ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--venia-global-anim-standard); 
    cursor: pointer;
    margin-right: 20px;
}

.secondaryButton:hover {
    background-color: var(--color-white);
    color: rgb(var(--theme-color-primary));
    border-color: rgb(var(--theme-color-primary));
}

.secondaryButton:focus {
    box-shadow: none;
}

.secondaryButton:active {
    transition-duration: 128ms;
}

.primaryButton {
    --stroke: var(--theme-color-primary-alt);
    background:  rgb(var(--stroke));
    border-color: rgb(var(--stroke));
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    color: rgb(var(--color-white));
    font-size: var(--fontSize-200);
    font-weight: var(--font-weight-bold);
    line-height: 2.25rem;
    max-width: 100%;
    min-width: 10rem;
    min-height: 3.5rem;
    outline: none;
    padding: calc(0.5rem + 1px) 1.5rem calc(0.5rem - 1px);
    text-transform: uppercase;
    transition-duration: 256ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--venia-global-anim-standard);
    cursor: pointer;
}

.primaryButton:hover {
    background-color: var(--color-white);
    color: rgb(var(--stroke));
    border-color: rgb(var(--stroke));
}

.primaryButton:focus {
    box-shadow: none;
}

.primaryButton:active {
    transition-duration: 128ms;
    --stroke:  var(--theme-color-primary-alt);
}

.loadingButton {
    min-width: 10rem;
    min-height: 3.5rem;
    padding: calc(0.5rem + 1px) 1.5rem calc(0.5rem - 1px);
}