/* Post View **********************************************************************************************************/
/* Bootstrap */
.container {
   width: 100%;
   margin-right: auto;
   margin-left: auto;
   padding: 20px 0;
}
.columns {
    display: -ms-flexbox;
   display: flex;
    -ms-flex-wrap: wrap;
   flex-wrap: wrap;
    margin-right: -15px;
   margin-left: -15px;
}
.columns .column {
    padding-bottom: 40px;
    -webkit-flex-basis: auto;
   flex-basis: auto;
    -webkit-flex-grow: 1;
   flex-grow: 1;
    -ms-flex-order: 1;
   -webkit-order: 1;
   order: 1;
    width: 100%;
}
.columns .sidebar {
    -webkit-flex-grow: 1;
   flex-grow: 1;
    -webkit-flex-basis: 100%;
   flex-basis: 100%;
    -ms-flex-order: 2;
   -webkit-order: 2;
   order: 2;
    clear: right;
    padding-left: 2%;
}
.columns .column, .columns .sidebar {
    position: relative;
    width: 100%;
    padding-right: 15px;
   padding-left: 15px;
}
@media (min-width: 768px) {
    .columns .column {
       /*float: left;
       */
       /*-ms-flex-order: 1;
       -webkit-order: 1;
       order: 1;
       */
        -ms-flex: 0 0 75%;
       flex: 0 0 75%;
        max-width: 75%;
        min-height: 300px;
   }
    .columns .sidebar {
       /*float: right;
       */
       /*-ms-flex-order: 2;
       -webkit-order: 2;
       order: 2;
       */
        -ms-flex: 0 0 25%;
       flex: 0 0 25%;
        max-width: 25%;
   }
}
/* END Bootstrap */
/* Page Title */
.pageTitleWrapper .pageTitle {
   display: inline-block;
   position: relative;
   color: #006;
   font: 700 24px/1.35 sans-serif;
   margin-bottom: 25px;
   margin-top: 0;
   padding-bottom: 7px;
}
@media (max-width: 767.98px) {
    .pageTitleWrapper .pageTitle {
       font-size: 20px;
   }
}

.pageTitleWrapper .pageTitle::after {
   height: 3px;
   width: 100px;
   content: "";
   bottom: 0;
   position: absolute;
   left: 0;
   background: #727171;
}

/* Category */
.postCategory {
   margin-bottom: 1.5rem;
   margin-bottom: 15px;
}
.postCategory a {
   display: inline-block;
   margin: 0 5px 0 0;
   padding: 5px 10px;
   background: #000;
   color: #fff !important;
   font-size: 11px;
   line-height: 12px;
   font-weight: 500;
   text-decoration: none;
   text-transform: uppercase;
}
.postCategory a:nth-of-type(1) {
   background-color: #dd3333;
   border-color: #dd3333;
}
.postCategory a:nth-of-type(2) {
   background-color: #f96945;
   border-color: #f96945;
}
.postCategory a:nth-of-type(3) {
   background-color: #ff7500;
   border-color: #ff7500;
}
.postCategory a:nth-of-type(4) {
   background-color: #4caf50;
   border-color: #4caf50;
}
.postCategory a:nth-of-type(5) {
   background-color: #4db2ec;
   border-color: #4db2ec;
}
.postCategory a:nth-of-type(6) {
   background-color: #000;
   border-color: #000;
}
.postCategory a:hover {
   color: #fff;
   background: #222222;
}
/* Post Data */
.postDataWrapper {
   font-size: 13px;
   font-family: sans-serif;
   margin-bottom: 3rem;
   margin-bottom: 30px;
}
.postDataWrapper a {
   font-weight: 600;
}
.postDate {
   color: #bbbbbb;
}
/* Post Comments */
.postComments {
   float: right;
   line-height: 1;
   padding: 2px 0;
}
.postComments .icon {
   display: inline-block;
   width: 16px;
   height: 13px;
   background: url(../../images/comments.svg) no-repeat 0 0;
   margin-right: 5px;
}
.postComments a {
   font-weight: 600;
   vertical-align: top;
   font-size: 15px;
   line-height: 15px;
}
@media (max-width: 767.98px) {
    .postComments {
       display: none;
   }
}
/* Image */
.postFeaturedImage {
   font-size: 0;
   margin-bottom: 20px;
}
.postFeaturedImage img {
    max-width: 100%;
}
/* Post Text */
.postContent .postDescription img {
   margin: 15px 0;
   max-width: 100%;
   height: auto;
}
.postContent .postDescription ul, .postContent .postDescription ol {
   list-style-position: inside;
}
/* Post Bottom */
.postBottom {
   margin-top: 30px;
}
/* AddThis */
.postSharingBottom {
   padding: 30px 0;
   margin-bottom: 20px;
   border-top: 1px solid #d5d6da;
   border-bottom: 1px solid #d5d6da;
}
/* Post Navigation */
.nextPrev {
   margin-bottom: 30px;
   padding: 20px 0;
    display: -ms-flexbox;
   display: flex;
    -ms-flex-pack: justify;
   justify-content: space-between;
}
.nextPrev > * {
   -ms-flex: 0 0 48%;
   flex: 0 0 48%;
   max-width: 48%;
}
.nextPrev .postNext {
   text-align: right;
}
.nextPrev .postPrev {
   text-align: left;
}
.nextPrev .nextPrevLink {
   display: block;
   font-size: 20px;
   color: #222222;
   font-weight: 600;
}
.nextPrev .nextPrevLink:hover {
   text-decoration: none;
}
.nextPrev .nextPrevLink span {
   display: block;
   color: #bbbbbb;
   font-size: 14px;
   font-weight: normal;
}
.textLeft {
   text-align: left;
}
.textRight {
   text-align: right;
}
/* Block Related */
.related {
   margin-bottom: 0;
}
.related .blockTitle {
   margin-bottom: 15px;
}
.related .blockTitle strong {
   font: 700 24px/1.35 sans-serif;
   color: #000;
   margin-bottom: 0;
   font-weight: 500;
   position: relative;
   padding-bottom: 3px;
}
.related .blockTitle strong::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100px;
   height: 3px;
   background: #727171;
}
.related .postList {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
    position: relative;
   overflow: hidden;
   margin-left: -15px;
   margin-right: -15px;
}
.related .postList .postItem {
    display: -ms-flexbox;
   display: flex;
    -ms-flex-direction: column;
   flex-direction: column;
    margin-bottom: 30px;
   -ms-flex: 0 0 25%;
   flex: 0 0 25%;
   max-width: 25%;
   padding-left: 10px;
   padding-right: 10px;
}
.related .postList .postItem .imageContainer {
   -ms-flex: 0 0;
   flex: 0 0;
   width: 100%;
   display: block;
   order: 0;
   margin-bottom: 10px;
}
.related .postList .postItem .imageContainer .imageWrapper {
   display: block;
   line-height: 0;
   overflow: hidden;
   position: relative;
   padding-bottom: 70%;
}
.related .postList .imageContainer .imageWrapper .bgImg {
   position: absolute;
   display: block;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center;
}
.related .postList .postItem .blockInfo {
   padding-left: 0 !important;
   padding-right: 0 !important;
}
.postList .postItem .blockInfo h3.postTitle a {
   font-size: 14px !important;
   line-height: 20px !important;
   font-weight: 600 !important;
}
.postList .postItem .blockInfo h3.productTitle a {
   font-size: 14px !important;
   line-height: 20px !important;
}
/* Related Products */
.related .productList {
   padding-top: 15px;
}
.related .productList .productItem {
    display: -ms-flexbox;
   display: flex;
    -ms-flex-direction: column;
   flex-direction: column;
    margin-bottom: 30px;
   -ms-flex: 0 0 25%;
   flex: 0 0 25%;
   max-width: 25%;
   padding-left: 10px;
   padding-right: 10px;
    border: 1px solid transparent;
}
.related .productList .productItem:hover {
   border: 1px solid #ddd;
}
.related .productList .productItem .blockInfo {
    display: -ms-flexbox;
   display: flex;
    -ms-flex-direction: column;
   flex-direction: column;
    -ms-flex: 1 1;
   flex: 1 1;
}
.related .productList .productItem .productTitle {
   margin-bottom: 10px;
}
.related .productList .productItem .blockInfo .price {
   margin-top: auto;
   margin-bottom: 5px;
}
@media (max-width: 767px) {
    .related .postList .postItem {
       flex: 0 0 50%;
       max-width: 50%;
   }
    .nextPrev .nextPrevLink {
       font-size: 14px;
       line-height: 1.4;
   }
}

.breadcrumbs {
   margin-bottom: 1.5rem;
   font-size: 0.875rem;
}
.breadcrumbs a {
   color: #000 !important;
}
@media (max-width: 767px) {
    .breadcrumbs {
       display: none;
   }
}
.price {
   font-size: 14px;
}
/* Animation Zoom */
.imageWrapper .animationTypeZoom {
   display: block;
   line-height: 0;
   overflow: hidden;
   position: relative;
}
.imageContainer .animationTypeZoom {
   -webkit-transition: transform .3s ease,opacity .3s;
   transition: transform .3s ease,opacity .3s;
}
.imageContainer:hover .animationTypeZoom {
   transform: scale3d(1.1,1.1,1);
    -webkit-transform: scale3d(1.1,1.1,1);
}
/* Post View **********************************************************************************************************/

.relatedPostList {
   padding-left: 15px;
   padding-bottom: 50px;
}

.relatedPostList .relatedPostBlock {
   margin-top: 0rem;
   margin-bottom: 10px;
   color: #006;
   font-size: 14px;
   font-family: sans-serif;
   text-decoration: underline;
}