.root {

}

.pageTitleWrapper {

}


.panelWrapper {
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #e9eaec;
}

.panelBody {}

.title {
    justify-self: center;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    padding: 15px 30px;
    font-size: var(--fontSize-700);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}

.fieldWrapper {
    margin-top: 25px;
}

.fieldWrapper:first-child {
    margin-top: 0;
}

.fieldChoice {
    margin-bottom: 10px;
}

.blockSubTitle {
    font-size: var(--fontSize-200);
    font-weight: var(--font-weight-bold);
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 20px;;
}

.field {
    grid-column-end: span 2;
}

.actionToolbar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.primaryAction {
    margin: 8px 8px 8px 0;

}

.secondaryAction {
    margin: 8px 0 8px 8px;
}

.action {
    --stroke: var(--theme-color-primary);
    background: rgb(var(--stroke));;
    border-color: rgb(var(--stroke));
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    color: rgb(var(--color-white));
    font-size: var(--fontSize-100);
    font-weight: var(--font-weight-bold);
    line-height: 1.25rem;
    max-width: 100%;
    min-width: 10rem;
    min-height: 2.5rem;
    outline: none;
    padding: calc(0.5rem + 1px) 1.5rem calc(0.5rem - 1px);
    text-transform: uppercase;
    transition-duration: 256ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--venia-global-anim-standard);
    display: inline-flex;
}

.action:hover {
    background-color: var(--color-white);
    color: rgb(var(--stroke));
    border-color: rgb(var(--stroke));
}

.iconWrapper {
    display: inline-flex;
}

.svgIcon {
    fill: currentColor;
    width: 13px;
    height: auto;
    margin-right: 10px;
}


.email,
.passwordLabel {
    composes: field;
}

.buttons {
    composes: field;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    justify-self: center;
    padding: 1rem;
}

.changePasswordButtonContainer {
    padding-top: 1rem;
}

@media (max-width: 960px) {
    .firstname,
    .lastname,
    .password,
    .newPassword {
        grid-column: 1 / span 2;
    }
}
