.root {
    position: relative;
}

.control {

}

.controlInput input { 

    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: #fff;
    height: 40px;
    width: 100%;
    color: #fff;

}



.controlInput input:focus {
    border: none;
    border-radius: 0;
}


.actionToolbar button {
    font-size: 0;
    width: auto;
    min-width: auto;
    padding: 0;
    background: transparent;
    border: none; 
    height: auto;
    min-height: auto;
    line-height: normal;
    color: #fff;
    position: absolute;
    right: 0;
    width: 38px;
    height: 38px;
    line-height: 38px;
    top: 0;
   
    
}

.actionToolbar button:hover {
    background-color: transparent;
    border: none;
}
.actionToolbar button:focus {
    background-color: transparent;
    border: none;
}


.iconWrapper {
    display: inline-flex;

}

.svgIcon {
    fill: currentColor;
    width: 15px;
    height: auto;
}