.root {
    position: relative;
}

.control {

}

.controlInput input { 

    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: rgb(var(--color-white));;
    height: 40px;
    width: 100%;
    color: rgb(var(--color-white));
    font-size: var(--fontSize-100);

}

.root ::-webkit-input-placeholder { /* Edge */
    color: rgb(var(--color-white));
  }
  
  .root :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(var(--color-white));
  }
  
  .root ::placeholder {
    color: rgb(var(--color-white));
  }


.controlInput input:focus,
.controlInput input:focus-visible {
   outline: none;
}



.actionToolbar button {
    font-size: 0;
    width: auto;
    min-width: auto;
    padding: 0;
    background: transparent;
    border: none; 
    height: auto;
    min-height: auto;
    line-height: normal;
    color: #fff;
    position: absolute;
    right: 0;
    width: 38px;
    height: 38px;
    line-height: 38px;
    top: 0;
   
    
}

.actionToolbar button:hover {
    background-color: transparent;
    border: none;
}
.actionToolbar button:focus {
    background-color: transparent;
    border: none;
}


.iconWrapper {
    display: inline-flex;

}

.svgIcon {
    fill: currentColor;
    width: 15px;
    height: auto;
}

.mageError {
    font-size: var(--fontSize-75);
    color: rgb(var(--color-error));
    padding: 4px 0;
}