.block {
    margin-bottom: 40px;
    border: 1px solid rgb(var(--border-color-base));
    padding: 15px;
}

.blockTitle {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blockcontent {

}

.select {
    background-color: rgb(var(--color-white));
    border: 1px solid rgb(var(--border-color-base));
    border-radius: 0;
    color: rgb(var(--text-color));
    display: inline-flex;
    flex: 0 0 100%;
    font-size: 1rem;
    height: 40px;
    margin: 0;
    max-width: 100%;
    padding: 10px 10px 10px 10px;
    width: 100%;
    font-size: var(--fontSize-100);
}

.select:focus,
.select:focus-visible {
    border-color: rgb(var(--theme-color-secondary));    
}

.fieldset {
    border: 0;
    margin: 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}



.field {
    margin: 0 0 15px;
    padding: 0 15px;
    flex-basis: 50%;

}

 .field:last-child {
    margin: 0;
}

.control {
    
}

.firstName {

}

.lastName {

}

.telephone {
    flex-basis: 100%;
}

.street {

}

.streetLine1 {

}

.streetLine2 {
margin-top: 22px;
}

.line2 {

}

.city {

}

.state {

}

.country {

}

.control {
    
}

.mage-error {
    font-size: var(--fontSize-75);
}


.actionToolbar {
 display: flex;
}

.secondary {
    margin-left: 15px;
}
.primary {

}

.formAddressEdit {
    
}

.billingFieldset {

}

.action {
    --stroke: var(--theme-color-primary);
    background-color: rgb(var(--stroke));
    color: rgb(var(--color-white));
    border-color: rgb(var(--stroke));
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    font-size: var(--fontSize-100);
    font-weight: var(--font-weight-bold);
    line-height: 1.25rem;
    max-width: 100%;
    min-width: auto;
    min-height: 2.5rem;
    outline: none;
    padding: calc(0.5rem + 1px) 1.5rem calc(0.5rem - 1px);
    text-transform: uppercase;
    transition-duration: 256ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--venia-global-anim-standard);

}


.action:hover {
    background-color: var(--color-white);
    color: rgb(var(--stroke));
    border-color: rgb(var(--stroke));
}

.action:focus {
    box-shadow: none;
}

.action:active {
    transition-duration: 128ms;
    --stroke: var(--theme-color-primary);
}


.cancel {
    background-color: var(--color-white);
    color: rgb(var(--stroke));
    border-color: rgb(var(--stroke));
}

.cancel:hover {
    background-color: rgb(var(--stroke));
    color:  rgb(var(--color-white));
    border-color: rgb(var(--stroke));
}


.actionToolbar {
    margin-top: 15px;
}

.billingActionToolbar {
    margin-top: 0;
    margin-bottom: 15px;
    flex-basis: 100%;
}

.TopActionToolbar .secondary {
   margin-bottom: 15px;

}

.TopActionToolbar .secondary .action{
    margin-left: 0;
}


.loadingButton {
    min-width: 15rem;
    padding: calc(0.5rem + 1px) 1.5rem calc(0.5rem - 1px);
    min-height: 2.5rem;
}

.fieldLabel {
    font-size: var(--fontSize-100);
    font-weight: var(--font-weight-bold);
}


.label {
    font-size: var(--fontSize-100);
    font-weight: var(--font-weight-bold);
}

