.block {

}

.blockTitle {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    
}

.blockcontent {

}

.field {
    
}

.street {

}

.line1 {

}

.city {

}

.state {

}

.country {

}

.label {
    font-size: var(--fontSize-100);
}

.select {
    background-color: rgb(var(--color-white));
    border: 1px solid rgb(var(--border-color-base));
    border-radius: 0;
    color: rgb(var(--text-color));
    display: inline-flex;
    flex: 0 0 100%;
    font-size: 1rem;
    height: 40px;
    margin: 0;
    max-width: 100%;
    padding: 10px 10px 10px 10px; 
    width: 100%;
    -webkit-appearance: none;
    font-size: var(--fontSize-100);
}

.select:focus,
.select:focus-visible {
    border-color: rgb(var(--theme-color-secondary));
}

.fieldset {
    border: 0;
    margin: 0 0 40px;
    padding: 0;
    max-width: 450px;
}

.fieldset > .field {
    margin: 0 0 30px;
}

.fieldset > .field:last-child {
    margin: 0;
}

.control {

}

.formAddressEdit {

}

.actionToolbar {

}

.secondary {

}
.primary {

}

