.input {
    composes: input from '../Field/field.css';
<<<<<<< HEAD
    
    

=======
>>>>>>> 1c51b1d6c2f04e086565a1ff2663db29b51f0df5
}

.input:focus,
.input:focus-visible {
    border-color: rgb(var(--theme-color-secondary));
}
.input:disabled {
    color: rgb(var(--venia-global-color-gray-darker));
}

.input_error {
    composes: input from '../Field/field.css';
    border-color: rgb(var(--venia-global-color-red-400));
}

.inputText {
    composes: input from '../Field/field.css'; 
}

.control {
    margin-bottom: 30px; 
}