
.input {
    composes: input from '../Field/field.css';

}

.input:focus {
    border-color: rgb(var(--color-blue1));
}
.input:disabled {
    color: rgb(var(--venia-global-color-gray-darker));
}

.input_error {
    composes: input from '../Field/field.css';
    border-color: rgb(var(--venia-global-color-red-400));
}
